@import 'variables';

.chapter-buttons-container {
    display: flex !important;
    justify-content: space-evenly;
}

.chapters-list-title {
    @include section-title;
}

.chapter-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 1rem;
    padding: 1rem;

    background-color: $card-bg-second;

    &__header {
        display: flex;
        flex-direction: column;
        width: 20rem;
    }

    &__information {
        margin-right: 1rem;

        width: 20rem;
    }
}

.chapter-card-header {
    &__name {
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }

    &__desc {
        font-size: 0.75rem;
        margin-right: 1rem;
    }
}

.chapter-card-information {
    margin-bottom: 0.5rem;
    font-size: 0.75rem;

    &__header {
        font-weight: bold;
    }

    &__info {
    }
}
.chapters-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: calc(100vh - #{$navbar-height});
    overflow: scroll;
}

.no-chapters-info {
    font-size: large;
}

.chapter-card-information-with-options {
    display: flex;
}
