<div class="chapters-list" [ngStyle]="{'background': bgColor}">

  <div *ngIf="chapters.length > 0" style="width: 100%; text-align: center;
    ">
    <h2>Dostępne części:</h2>
    <mat-card *ngFor="let chapter of chapters; index as i" class="chapter-card">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon mat-list-icon>bookmark</mat-icon>
        </div>
        <mat-card-title [ngStyle]="{'color': bookColor}">{{i+1}}. {{chapter.name}}</mat-card-title>
        <mat-card-subtitle>{{chapter.chapterDesc}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Ilość stron: {{chapter.pagesIds?.length}}
        </p>

        <mat-expansion-panel [ngStyle]="{'background': bookColor, 'color': fontColor}"
          *ngIf="chapter.starringChars?.length > 0">
          <mat-expansion-panel-header>
            Postacie występujące:
          </mat-expansion-panel-header>
          <div class="char-card-container">
            <mat-card class="char-card" *ngFor="let starringChar of chapter.starringChars">
              <mat-card-header>
                <div mat-card-avatar *ngIf="starringChar?.character?.profilePic">
                  <img mat-card-image class="char-card__avatar"
                    [src]="'data:image/' + starringChar?.character?.profilePic?.extension + ';base64, ' +starringChar?.character?.profilePic?.image | sanitizer">
                </div>
                <mat-card-title>{{starringChar?.character?.charName}} {{starringChar?.character?.charSurname}}
                </mat-card-title>
                <mat-card-subtitle>{{starringChar?.starringType}}</mat-card-subtitle>
              </mat-card-header>

            </mat-card>
          </div>

        </mat-expansion-panel>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button [ngStyle]="{'background': bookColor}" [routerLink]="['./']"
          [routerLink]="['./pages']" [queryParams]="{
            id: bookId,
          chapterId: chapter.id,
          color: bookColor
        }">
          <mat-icon>navigate_next</mat-icon>
          Przejdź do części
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="chapters.length === 0">
    Brak części w tym szkicowniku.
  </div>
</div>
