@import "../../../../../../../global_styles/variables.scss";

.chapters-list {
  display: flex;
  justify-content: center;

  height: calc(100vh - #{$navbar-height});

  overflow: scroll;
}
.chapter-card {
  background: $card-bg;
  min-width: 20rem;
}
