$themeColor1: #646464;
$themeColor2: black;
$themeColor2: #6667;

html {
  scrollbar-face-color: $themeColor1;
  scrollbar-base-color: $themeColor1;
  scrollbar-3dlight-color: $themeColor1;
  scrollbar-highlight-color: $themeColor1;
  scrollbar-track-color: $themeColor2;
  scrollbar-arrow-color: $themeColor2;
  scrollbar-shadow-color: $themeColor1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: $themeColor2;
  height: 0;
}
::-webkit-scrollbar-track {
  background-color: $themeColor1;
}
::-webkit-scrollbar-track-piece {
  background-color: $themeColor2;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: $themeColor2;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: $themeColor1;
}
::-webkit-resizer {
  background-color: $themeColor2;
}
