@mixin font-regular {
    font-family: 'OverpassMonoRegular', Courier, monospace;
}

@mixin font-special {
    font-family: 'GrapeNuts';
}

@mixin profile-pic {
    height: 100px;
    width: 100px;

    border-radius: 50%;
    border: 2px solid black;

    background: darkslategrey;

    transition: 0.2s;
}

@mixin section-title {
    font-size: -webkit-xxx-large;
    margin: 1rem;
    font-weight: 600;

    @include font-special;

}

$navbar-height: 3rem;

$card-bg: #ffffff1c;
$card-bg-second: rgba(0, 0, 0, 0.4);
$chars-list-bg: #1b1d1e;
$accent: #90a4ae;
$primary: #9c27b0;

$z-index: (
    navbar: 1000,
);

$dark-bg-component-color: rgba(0, 0, 0, 0.4);

$hidden-bg-color1: black;
$hidden-bg-color2: #1c1e29;

@mixin hidden-bg {
    background: repeating-linear-gradient(
        45deg,
        $hidden-bg-color1,
        $hidden-bg-color1 10px,
        $hidden-bg-color2 10px,
        $hidden-bg-color2 20px
    );
}
