@mixin font-regular {
  font-family: "Courier New", Courier, monospace;
}

@mixin font-special {
  font-family: "Halimun";
}

$navbar-height: 3rem;

$card-bg: #ffffff1c;
$card-bg-second: rgba(0, 0, 0, 0.4);

$z-index: (
  navbar: 1000,
);
