<article class="new-char admin-panel admin-panel--main">
  <h2 class="changes__title">Uzupełnij poniższe pola, aby dodać nową postać główną:</h2>

  <div class="progress">
    <ul class="progress-bar__steps steps">
      <li class="steps__step step" *ngFor="let formPart of formParts; index as i" (click)="setForm(i+1)">
        <div class="step__number" [ngClass]="{'step__number--active': (chosenForm === i+1)}">{{i+1}}</div>
        <span>{{formPart}}</span>
        <div class="progress-bar__line">
        </div>
      </li>
      <li class="steps__step step" (click)="setForm('SUBMIT')">
        <div class="step__number" [ngClass]="{'step__number--active': (chosenForm === 'SUBMIT')}">
          <app-icon [icon]="'edit'" [color]="'white'" [size]="0.5"></app-icon>
        </div>
        <span>Dodaj postać</span>
        <div class="progress-bar__line">
        </div>
      </li>
    </ul>
  </div>

  <div class="buttons">
    <button class="buttons__arrow" [disabled]="chosenForm === 1"
      (click)="setForm(chosenForm === 'SUBMIT' ? formParts.length : chosenForm - 1 )">
      🡄
    </button>
    <button class="buttons__arrow" [disabled]="chosenForm === 'SUBMIT'"
      (click)="setForm(chosenForm === formParts.length ? 'SUBMIT' : chosenForm + 1)">
      🡆
    </button>
  </div>
  <form [formGroup]="newCharacterForm" enctype="multipart/form-data" class="new-char__form new-char-form">
    <div [ngSwitch]="chosenForm">
      <div *ngSwitchCase="1">
        <h2 class="changes__title">Dodaj imię, nazwisko i inne ważne dane:</h2>
        <div class="new-char-form__container form-container">

          <label class="global-label  form-container__label">
            Imię:
            <input type="text" class="global-input" formControlName="name" />
          </label>
          <label class="global-label  form-container__label">
            Nazwisko:
            <input type="text" class="global-input" formControlName="surname" />
          </label>
        </div>
        <div class="new-char-form__container form-container">
          <div class="form-container--personal-info">
            <label class="global-label  form-container__label">
              Data urodzenia:
              <input class="global-input" type="date" formControlName="birthday" />
            </label>
            <label class="global-label  form-container__label">
              Zawód:
              <input class="global-input" type="text" formControlName="profession" />
            </label>
          </div>

          <label class="global-label  form-container__label">
            Śmierć:
            <input type="checkbox" (change)="changeDeathState()" />
            <details class="form-container__details details">
              <summary>Detale dot. śmierci:</summary>
              <label class="global-label form-container__label">
                Data śmierci:
                <input class="global-input details__death-date" [readonly]="isDead" type="date"
                  formControlName="death" />
              </label>
              <label class="global-label form-container__label">
                Powód śmierci:
                <input class="global-input" type="text" [readonly]="isDead" formControlName="deathReason" />
              </label>
            </details>
          </label>
        </div>
      </div>

      <div *ngSwitchCase="2">
        <h2 class="changes__title">Zdefiniuj temperament postaci:</h2>
        <div class="new-char-form__container form-container">
          <label class="global-label form-container__label">
            Melancholizm - {{melancholicValue}}%
            <div class="form-container__range-container range range__container">
              <input class="global-input" type="range" min="1" max="100" formControlName="melancholic" />
              <div class="range__values">
                <span>0</span><span>50</span><span>100</span>
              </div>
            </div>
          </label>
          <label class="global-label form-container__label">
            Sangwinizm - {{sanguineValue}}%
            <div class="form-container__range-container range range__container">
              <input class="global-input" type="range" min="1" max="100" formControlName="sanguine" />
              <div class="range__values">
                <span>0</span><span>50</span><span>100</span>
              </div>
            </div>
          </label>
          <label class="global-label form-container__label">
            Flegmatyzm - {{flegmaticValue}}%
            <div class="form-container__range-container range range__container">
              <input class="global-input range__item" type="range" min="1" max="100" formControlName="flegmatic" />
              <div class="range__values">
                <span>0</span><span>50</span><span>100</span>
              </div>
            </div>
          </label>
          <label class="global-label form-container__label">
            Choleryzm - {{cholericValue}}%
            <div class="form-container__range-container range range__container">
              <input class="global-input" type="range" min="1" max="100" formControlName="choleric" />
              <div class="range__values">
                <span>0</span><span>50</span><span>100</span>
              </div>
            </div>
          </label>
        </div>
      </div>

      <div *ngSwitchCase="3">
        <h2 class="changes__title">Wybierz kolory postaci:</h2>
        <div class="new-char-form__container form-container">
          <label class="global-label color">
            <span class="color__label">Motyw kolorystyczny 1:</span>
            <input class="global-input" formControlName="themeColor1" type="color" />
          </label>
          <label class="global-label color">
            <span class="color__label"> Motyw kolorystyczny 2:</span>
            <input class="global-input" formControlName="themeColor2" type="color" />
          </label>
          <label class="global-label color">
            <span class="color__label">Motyw kolorystyczny 3:</span>
            <input class="global-input" formControlName="themeColor3" type="color" />
          </label>
        </div>

        <div class="new-char-form__container form-container">
          <label class="global-label color">
            <span class="color__label">Kolor oczu 1:</span>
            <input class="global-input" formControlName="eyeColor1" type="color" />
          </label>
          <label class="global-label color">
            <span class="color__label">Kolor oczu 2:</span>
            <input class="global-input" formControlName="eyeColor2" type="color" />
          </label>
          <label class="global-label color">
            <span class="color__label">Kolor włosów:</span>
            <input class="global-input" formControlName="hairColor" type="color" />
          </label>
          <label class="global-label color">
            <span class="color__label"> Kolor skóry:</span>
            <input class="global-input" formControlName="skinColor" type="color" />
          </label>
        </div>
      </div>

      <div *ngSwitchCase="4">
        <h2 class="changes__title">Zdefiniuj wagę i wzrost postaci w poszczególnych etapach życia:</h2>
        <div class="new-char-form__container form-container">
          <details class="form-container__details--new-char details">
            <summary>Waga postaci:</summary>
            <div class="details__container">

              <label class="global-label details__measurements">
                Waga jako niemowlę (0-3):
                <div style="margin-bottom: 1rem;">
                  <input class="global-input measurements__input" min="0" type="number" formControlName="babyWeight" />
                  KG
                </div>
              </label>

              <label class="global-label details__measurements">
                Waga jako dziecko (4-11):
                <div style="margin-bottom: 1rem;">
                  <input class="global-input measurements__input" min="0" type="number" formControlName="childWeight" />
                  KG
                </div>
              </label>

              <label class="global-label details__measurements">
                Waga jako nastolatek (12-19):
                <div style="margin-bottom: 1rem;">
                  <input class="global-input measurements__input" min="0" type="number" formControlName="teenWeight" />
                  KG
                </div>
              </label>

              <label class="global-label details__measurements">
                Waga jako dorosły (20+):
                <div style="margin-bottom: 1rem;">
                  <input class="global-input measurements__input" min="0" type="number" formControlName="adultWeight" />
                  KG
                </div>
              </label>
            </div>
          </details>

          <details class="form-container__details--new-char details">
            <summary>Wzrost postaci:</summary>

            <div class="details__container">
              <label class="global-label details__measurements">
                Wzrost jako niemowlę (0-3):
                <div style="margin-bottom: 1rem;">
                  <input class="global-input measurements__input" min="100" max="200" type="number"
                    formControlName="babyHeight" /> CM
                </div>
              </label>
            </div>

            <div class="details__container">
              <label class="global-label details__measurements">
                Wzrost jako dziecko (4-11):
                <div style="margin-bottom: 1rem;">
                  <input class="global-input measurements__input" min="100" max="200" type="number"
                    formControlName="childHeight" /> CM
                </div>
              </label>
            </div>

            <div class="details__container">
              <label class="global-label details__measurements">
                Wzrost jako nastolatek (11-19):
                <div style="margin-bottom: 1rem;">
                  <input class="global-input measurements__input" min="100" max="200" type="number"
                    formControlName="teenHeight" /> CM
                </div>
              </label>
            </div>

            <div class="details__container">
              <label class="global-label details__measurements">
                Wzrost jako dorosły (20+):
                <div style="margin-bottom: 1rem;">
                  <input class="global-input measurements__input" min="100" max="200" type="number"
                    formControlName="teenHeight" /> CM
                </div>
              </label>
            </div>

          </details>
        </div>
      </div>

      <div *ngSwitchCase="5">
        <h2 class="changes__title">Dodaj zdjęcia z postacią:</h2>
        <div class="new-char-form__container form-container">
          <label class="form-container__label global-label">
            <span>Zdjęcia postaci:</span>
            <input (change)="handleFileInput($event.target.files, true)" class="global-file" type="file"
              accept="image/*" multiple />
          </label>
          <label class="form-container__label global-label">
            <span>Zdjęcie profilowe postaci:</span>
            <input (change)="handleFileInput($event.target.files, false)" class="global-file" type="file"
              accept="image/*" />
          </label>
        </div>
      </div>

      <div *ngSwitchCase="'SUBMIT'" class="submit-container">
        <span *ngIf="newCharacterForm.invalid">
          Niektóre pola nie zostały uzupełnione. Jeszcze nie można dodać postaci.
        </span>
        <button class="global-button" (click)="createNewChar()" [disabled]="newCharacterForm.invalid"
          style="margin-top: 1rem;">
          Dodaj postać
        </button>
      </div>

    </div>
  </form>
</article>
