.progress {
}

.progress-bar {
  display: flex;

  &__steps {
    display: flex;
    justify-content: space-between;
  }

  &__line {
    background: rgba(255, 255, 255, 0.3);
    width: 20px;
    height: 1px;
  }
}

.steps {
  &__step,
  .step {
    display: flex;
    align-items: center;

    border-radius: 3px;

    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.3);

      .step__number {
        transition: 0.2s;

        background: #7632ad;
      }
    }

    &__number {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 5px;
      margin: 5px;
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 50%;

      background: #3f51b5;
    }
  }
}
