@import "../change-character-data/change-character-data.component.scss";

.progress {
}

.progress-bar {
  display: flex;

  &__steps {
    display: flex;
    justify-content: space-between;
  }

  &__line {
    background: rgba(255, 255, 255, 0.3);
    width: 20px;
    height: 1px;
  }
}

.steps {
  &__step,
  .step {
    display: flex;
    align-items: center;

    border-radius: 3px;

    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.3);

      .step__number {
        transition: 0.2s;

        background: #3d2691;
      }
    }

    &__number {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 5px;
      margin: 5px;
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 50%;

      background: grey;

      &--active {
        background: #3f51b5;
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;

  width: 100vw;

  &__arrow {
    margin: 0 5rem;

    font-size: 2.5rem;

    transition: 0.2s;

    &[disabled] {
      color: grey;
      pointer-events: none;
    }
    &:hover {
      color: #576bda;
    }
  }
}
