<div class="story-containter">
    <ckeditor
        [editor]="Editor"
        [(ngModel)]="model.editorData"
        (change)="onEditorChanges()"
        [disabled]="!isUserLogged"
        (ready)="onReady($event)"
    ></ckeditor>
    <div
        class="story-containter__button-container"
        style="width: 2.5rem"
        *appIfLoggedUser
    >
        <mat-icon
            class="option-icon option-icon--save save-button"
            (click)="saveStory()"
            *appIfLoggedUser="wereAnyChangesMade"
            >save</mat-icon
        >
    </div>
</div>
