@import 'variables';

.story {
    margin-right: 2rem;

    word-break: break-word;
    line-height: 1.5;

    &__title {
        font-weight: bold;
        font-size: 0.9rem;
        color: lightslategray;

        display: flex;
        justify-content: space-between;
        align-items: baseline;

        @include font-special;
        color: var(--theme-color);
    }

    &__story-block {
        @include font-regular;

        word-break: break-word;
        white-space: pre-line;
        font-size: initial;

        padding: 1rem 2rem 1rem 0rem;
    }
}

.no-story-container {
    margin: 1rem;
}

.story-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.story-textarea {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.5rem;
    margin-top: -1.25rem;

    background: $dark-bg-component-color;
    &--invalid {
        border-color: #f44336;
    }
}

.title-input {
    background: $dark-bg-component-color;
    margin-top: -1.5rem;
}

.title {
    @include font-special;
    font-size: 1.8rem;
}

::ng-deep .ck {
    color: whitesmoke !important;
    background: #1b1d1e !important;
}

::ng-deep .ck h2,
::ng-deep .ck h3,
::ng-deep .ck h4,
.character-story h2,
.character-story h3,
.character-story h4 {
    color: var(--theme-color);
    font-family: 'GrapeNuts' !important;
}

::ng-deep .ck h2 {
    font-size: 1.8rem;
}
::ng-deep .ck strong {
    font-family: inherit;
}
::ng-deep .ck * {
    font-family: inherit;
}

::ng-deep .ck h3,
.character-story h3 {
    font-size: 1.5rem;
}
::ng-deep .ck h4 {
    font-size: 1.2rem;
}
::ng-deep .ck a {
    text-decoration: underline;
}

::ng-deep .ck ol,
ol {
    list-style-type: decimal;
}

::ng-deep .ck ul {
    list-style-type: circle !important;
    color: red;
}

.character-story ul {
    list-style-type: circle;
    color: red;
}

.character-story h2 {
    color: var(--theme-color);
    font-family: 'GrapeNuts' !important;
}
