@import 'variables';

.story-containter {
    background: rebeccapurple;
    display: flex;
}

::ng-deep .ck {
    color: whitesmoke !important;
    background: #1b1d1e !important;
}

::ng-deep .ck h2,
::ng-deep .ck h3,
::ng-deep .ck h4 {
    color: var(--theme-color);
    font-family: 'GrapeNuts' !important;
}

::ng-deep .ck h2 {
    font-size: 1.8rem;
}
::ng-deep .ck h3 {
    font-size: 1.5rem;
}
::ng-deep .ck h4 {
    font-size: 1.2rem;
}

::ng-deep .ck strong {
    font-family: inherit;
}
::ng-deep .ck * {
    font-family: inherit;
}

::ng-deep .ck a {
    text-decoration: underline;
}

::ng-deep .ck ol,
ol {
    list-style-type: decimal;
}

::ng-deep .ck ul {
    list-style-type: circle !important;
}
