<mat-horizontal-stepper linear="false" #stepper class="stepper">
  <mat-step [stepControl]="personalInfoForm">
    <form [formGroup]="personalInfoForm" class="character-modify-form">
      <ng-template matStepLabel>
        {{'CHARACTER_MODIFY.PERSONAL_INFO' | translate}}
      </ng-template>
      <mat-form-field>
        <mat-label> {{'CHARACTER_MODIFY.NAME' | translate}}
        </mat-label>
        <input matInput [formControlName]="'name'" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'CHARACTER_MODIFY.SURNAME' | translate}}</mat-label>
        <input matInput [formControlName]="'surname'" required>
      </mat-form-field>

      <label id="gender-radio-group">{{'CHARACTER_MODIFY.GENDER' | translate}}</label>
      <mat-radio-group formControlName="gender" aria-labelledby="gender-radio-group">
        <ng-container *ngFor="let gen of Gender | enumVal">
          <mat-radio-button class="example-margin" [value]="gen.value" name="gender">
            <span class="gender-icon">
              <app-icon [color]="gen.value === 'MALE' ? '#89cff0' : '#FFC0CB'" [icon]="gen.value | lowercase"
                [size]="'1.2'">
              </app-icon>
            </span>
          </mat-radio-button>
        </ng-container>
      </mat-radio-group>
      <div>
        <button mat-button matStepperNext>{{'SHARED.NEXT' | translate}}</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="addidionalPersonalInfoForm">
    <form [formGroup]="addidionalPersonalInfoForm" class="character-modify-form">
      <ng-template matStepLabel>{{'CHARACTER_MODIFY.ADDITIONAL_PERSONAL_INFO' | translate}}</ng-template>
      <mat-form-field>
        <mat-label>{{'CHARACTER_MODIFY.PSEUDONIM' | translate}}</mat-label>
        <input matInput [formControlName]="'pseudonim'">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'CHARACTER_MODIFY.PROFESSION' | translate}}</mat-label>
        <input matInput [formControlName]="'profession'">
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'CHARACTER_MODIFY.BIRTHDATE' | translate}}</mat-label>
        <input matInput [matDatepicker]="birthday" [formControlName]="'birthday'">
        <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
        <mat-datepicker #birthday></mat-datepicker>
      </mat-form-field>

      <mat-slide-toggle (change)="toggleIsDead()">{{'CHARACTER_MODIFY.IS_DEAD' | translate}}</mat-slide-toggle>

      <mat-form-field>
        <mat-label>{{'CHARACTER_CARD.DEATH' | translate}}</mat-label>
        <input matInput [matDatepicker]="death" [formControlName]="'death'">
        <mat-datepicker-toggle matSuffix [for]="death"></mat-datepicker-toggle>
        <mat-datepicker #death></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'CHARACTER_MODIFY.DEATH_REASON' | translate}}</mat-label>
        <input matInput [formControlName]="'deathReason'">
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'CHARACTER_MODIFY.NATIONALITY' | translate}}</mat-label>
        <mat-select formControlName="nationality">
          <mat-option *ngFor="let country of countries" [value]="country.alpha2Code">
            <img [src]="country.flag" class="flag">
            {{country.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>{{'SHARED.PREVIOUS' | translate}}</button>
        <button mat-button matStepperNext>{{'SHARED.NEXT' | translate}}</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="temperamentForm">
    <form [formGroup]="temperamentForm" class="character-modify-form">
      <ng-template matStepLabel>{{'CHARACTER_MODIFY.TEMPERAMENT' | translate}}</ng-template>
      <mat-label>{{'CHARACTER_MODIFY.MELANCHOLIC' | translate}}</mat-label>
      <mat-slider class="temperament-range" thumbLabel step="5" tickInterval="5" formControlName="melancholic">
      </mat-slider>

      <mat-label>{{'CHARACTER_MODIFY.SANGUINE' | translate}}</mat-label>
      <mat-slider class="temperament-range" thumbLabel step="5" tickInterval="5" formControlName="sanguine">
      </mat-slider>

      <mat-label>{{'CHARACTER_MODIFY.FLEGMATIC' | translate}}</mat-label>
      <mat-slider class="temperament-range" thumbLabel step="5" tickInterval="5" formControlName="flegmatic">
      </mat-slider>

      <mat-label>{{'CHARACTER_MODIFY.CHOLERIC' | translate}}</mat-label>
      <mat-slider class="temperament-range" thumbLabel step="5" tickInterval="5" formControlName="choleric">
      </mat-slider>

      <div>
        <button mat-button matStepperPrevious>{{'SHARED.PREVIOUS' | translate}}</button>
        <button mat-button matStepperNext>{{'SHARED.NEXT' | translate}}</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="colorForm">
    <form [formGroup]="colorForm" class="character-modify-form">
      <ng-template matStepLabel>{{'CHARACTER_MODIFY.COLORS' | translate}}</ng-template>
      <div>
        <mat-form-field>
          <mat-label>{{'CHARACTER_MODIFY.THEMECOLOR1' | translate}}</mat-label>
          <input matInput type="color" formControlName="themeColor1">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'CHARACTER_MODIFY.THEMECOLOR2' | translate}}</mat-label>
          <input matInput type="color" formControlName="themeColor2">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'CHARACTER_MODIFY.THEMECOLOR3' | translate}}</mat-label>
          <input matInput type="color" formControlName="themeColor3">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>{{'CHARACTER_MODIFY.EYECOLOR1' | translate}}</mat-label>
          <input matInput type="color" formControlName="eyeColor1">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'CHARACTER_MODIFY.EYECOLOR2' | translate}}</mat-label>
          <input matInput type="color" formControlName="eyeColor2">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>{{'CHARACTER_MODIFY.HAIRCOLOR' | translate}}</mat-label>
          <input matInput type="color" formControlName="hairColor">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'CHARACTER_MODIFY.SKINCOLOR' | translate}}</mat-label>
          <input matInput type="color" formControlName="skinColor">
        </mat-form-field>
      </div>

      <div>
        <button mat-button matStepperPrevious>{{'SHARED.PREVIOUS' | translate}}</button>
        <button mat-button matStepperNext>{{'SHARED.NEXT' | translate}}</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="measurementsForm">
    <form [formGroup]="measurementsForm" class="character-modify-form">
      <ng-template matStepLabel>Waga i wzrost</ng-template>

      <div>
        <mat-form-field>
          <mat-label>{{'CHARACTER_MODIFY.HEIGHT_BABY' | translate}} (0-3):</mat-label>
          <input matInput type="number" min="30" max="200" formControlName="babyHeight">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'CHARACTER_MODIFY.HEIGHT_CHILD' | translate}} (4-11):
          </mat-label>
          <input matInput type="number" min="30" max="200" formControlName="childHeight">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'CHARACTER_MODIFY.HEIGHT_TEEN' | translate}} (12-19):
          </mat-label>
          <input matInput type="number" min="30" max="200" formControlName="teenHeight">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'CHARACTER_MODIFY.HEIGHT_ADULT' | translate}} (20+):
          </mat-label>
          <input matInput type="number" min="30" max="200" formControlName="adultHeight">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>{{'CHARACTER_MODIFY.WEIGHT_BABY' | translate}} (0-3):</mat-label>
          <input matInput type="number" min="1" max="150" formControlName="babyWeight">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'CHARACTER_MODIFY.WEIGHT_CHILD' | translate}} (4-11):
          </mat-label>
          <input matInput type="number" min="1" max="150" formControlName="childWeight">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'CHARACTER_MODIFY.WEIGHT_TEEN' | translate}} (12-19):
          </mat-label>
          <input matInput type="number" min="1" max="150" formControlName="teenWeight">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'CHARACTER_MODIFY.WEIGHT_ADULT' | translate}} (20+):
          </mat-label>
          <input matInput type="number" min="1" max="150" formControlName="adultWeight">
        </mat-form-field>
      </div>

      <div>
        <button mat-button matStepperPrevious>{{'SHARED.PREVIOUS' | translate}}</button>
        <button mat-button matStepperNext>{{'SHARED.NEXT' | translate}}</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>{{'CHARACTER_MODIFY.END' | translate}}</ng-template>
    <form class="character-modify-form">
      <p>{{'CHARACTER_MODIFY.FORM_END_MSG' | translate}}</p>
      <div>
        <button mat-button matStepperPrevious>{{'SHARED.PREVIOUS' | translate}}</button>
        <button mat-button (click)="submit()"
          [disabled]="personalInfoForm.invalid">{{'SHARED.SEND' | translate}}</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
