<div mat-dialog-content>
    <form [formGroup]="chapterForm" class="chapter-form">
        <mat-form-field>
            <mat-label>{{
                'CHAPTERS_PANEL.CHAPTER_TITLE' | translate
            }}</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{
                'CHAPTERS_PANEL.CHAPTER_DESC' | translate
            }}</mat-label>
            <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                [spellcheck]="false"
                cdkAutosizeMaxRows="20"
                formControlName="chapterDesc"
            >
            </textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>📕 {{ 'CHAPTERS.BOOK' | translate }}</mat-label>
            <mat-select formControlName="book">
                <mat-option
                    *ngFor="let bookItem of books"
                    [value]="bookItem.id"
                >
                    <app-book-icon
                        class="book-card__icon-container"
                        [book]="bookItem"
                        [size]="1"
                    ></app-book-icon>
                    {{ bookItem.name }}</mat-option
                >
            </mat-select>
        </mat-form-field>

        <div class="chapter-form__section">
            <mat-form-field class="chapter-form-field">
                <mat-label
                    >🌄 {{ 'CHAPTERS.ACTION_TIME' | translate }}</mat-label
                >
                <input matInput formControlName="actionTime" />
            </mat-form-field>

            <mat-form-field
                class="chapter-form-field"
                style="margin-left: 1rem"
            >
                <mat-label
                    >🏡 {{ 'CHAPTERS.ACTION_PLACE' | translate }}</mat-label
                >
                <input matInput formControlName="actionPlace" />
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions class="buttons">
    <div class="button">
        <button mat-raised-button color="accent" (click)="upsertChapter()">
            {{ 'SHARED.SEND' | translate }}
        </button>
    </div>
</div>
