.chapter-form {
    font-size: medium;
    display: flex;
    flex-direction: column;

    &__section {
        display: flex;
    }
}

.buttons {
    display: flex;
}

.button {
    margin: 0 0.5rem;
}

.chapter-form-field {
    margin: 1rem;
}
