@import "./global_styles/reset.scss";
@import "./global_styles/variables.scss";
@import "./global_styles/scrollbar.scss";

@import "./fonts.scss";

body {
  font-size: 62.5%;
  background: #1d1d1d;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  color: whitesmoke;
}

button {
  font-family: inherit;
}

.global-section {
  height: calc(100vh - #{$navbar-height});
}
