@import 'variables';

.chart {
    display: flex;
    justify-content: center;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.chart-and-icon-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.no-data-info {
    margin: 1rem;
}

.save-icon {
    transform: scale(1);
    margin-left: auto;
    margin-right: 0.5rem;

    transition: 0.3s;
    cursor: pointer;
    color: $accent;

    &:hover {
        color: rgb(197, 250, 179);
    }
}

.save-icon-container {
    display: flex;
    margin-left: 1rem;
}
