<div class="options chapter-preview-options">
    <mat-icon class="close-icon" (click)="closedEvent.emit()">close</mat-icon>
</div>
<div class="chapter" *ngIf="pagesNumber?.length > 0">
    <mat-icon
        (click)="setImage(currentImageIndex - 1)"
        class="arrow-icon"
        [ngClass]="currentImageIndex === 0 ? 'arrow-icon--inactive' : ''"
        >keyboard_arrow_left</mat-icon
    >

    <ng-container *ngFor="let pageId of pagesNumber; index as i">
        <div class="image-container" *ngIf="i === currentImageIndex">
            <img
                src="{{ pageURL }}/{{ chapterId }}/{{ i }}"
                class="image image--inactive"
                [ngClass]="{
                    'image--active': i === currentImageIndex
                }"
            />
        </div>
    </ng-container>

    <mat-icon
        (click)="setImage(currentImageIndex + 1)"
        class="arrow-icon"
        [ngClass]="
            currentImageIndex === pagesNumber?.length - 1
                ? 'arrow-icon--inactive'
                : ''
        "
        >keyboard_arrow_right</mat-icon
    >
</div>
