<app-loader [visible]="loading"></app-loader>

<div *ngIf="changeType" class="changes">

  <div [ngSwitch]="changeType">

    <div *ngSwitchCase="'new-character'">
      <app-character-modify type="NEW"></app-character-modify>
    </div>

    <div *ngSwitchCase="'edit-images'" class="story edit-main-pic  admin-panel admin-panel--main admin-panel-main">
      <form class="edit-main-pic__edit-main-pic-form edit-main-pic-form" enctype="multipart/form-data">
        <h2 class="changes__title">Dodaj zdjęcia do postaci:</h2>
        <div class="submit-container">

          <label class="edit-main-pic__label global-label">
            Zdjęcie profilowe:
            <img *ngIf="profilePicForMain"
              [src]="'data:image/' + profilePicForMain?.extension + ';base64, ' + profilePicForMain?.image | sanitizer"
              class="profile-pic">
            <input class="global-file" (change)="handleFileInput($event.target.files, false)" type="file"
              accept="image/*" />
          </label>

          <label class="edit-main-pic__label global-label">
            Dodaj zdjęcia postaci:
            <input class="global-file" (change)="handleFileInput($event.target.files, true)" type="file"
              accept="image/*" multiple />
          </label>
        </div>

        <button class="global-button" (click)="setNewImages()">Dodaj</button>
      </form>

      <div *ngIf="imagesListForMain?.length > 0" class="images edit-main-pic__edit-main-pic-form edit-main-pic-form">
        <h2 class="changes__title">Obecne zdjęcia:</h2>
        <div class="images__container">
          <div class="images__item" *ngFor="let image of imagesListForMain">
            <div class="images__option">
              <span title="Usuń zdjęcie" class="option" (click)="insertDeleteInfo()"
                (dblclick)="deleteCharacterImage(image.id)">
                <app-icon [icon]="'archive'" [color]="'#b84343'"></app-icon>
              </span>
            </div>
            <div>
              <img [src]="'data:image/' + image?.extension + ';base64, ' + image?.image | sanitizer"
                class="profile-pic">
              <div class="profile-pic__name profile-pic-name">
                <span title="Edytuj nazwę zdjęcia" class="option profile-pic-name__option"
                  (click)="changeImageName(image.id, imageElement)">
                  <app-icon [icon]="'edit'" [color]="'whitesmoke'" [size]="'0.7'"></app-icon>
                </span>
                <span #imageElement spellcheck="false">
                  {{image?.name}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div *ngSwitchCase="'quotes'" class="quotes admin-panel--main admin-panel-main">

      <div class="quotes__button-container">
        <button class="global-button quotes__button" (click)="showQuotesForm()" [disabled]="isQuoteFormShown">
          + Dodaj cytat
        </button>
      </div>

      <div *ngIf="isQuoteFormShown" class="quotes__container quotes__container--form">
        <form class="quotes__new-quote-form new-quote-form" [formGroup]="newQuoteForm">
          <h2 class="changes__title">Uzupełnij poniższe pola, aby dodać nowy cytat:</h2>

          <label class="changes__title quotes__label">
            Wpisz treść cytatu:
            <textarea class="global-textarea quotes__textarea" formControlName="quote"></textarea>
          </label>
          <label class="changes__title quotes__label" style="margin-top: 1rem;">
            Dodaj kontekst cytatu:
            <input type="text" class="global-input" formControlName="context" />
          </label>
          <button class="global-button quotes__button" [disabled]="newQuoteForm.invalid"
            (click)="createNewQuote()">Dodaj
            cytat</button>
        </form>
      </div>

      <div *ngIf="quotes?.length > 0" class="quotes__container quotes__container--quotes">
        <div *ngFor="let quote of quotes">
          <div class="quote" #quoteContainer>
            <div class="quote__options quote-options">
              <span class="option" title="Edytuj cytat"
                (click)="editQuote(quote.id, quoteEl, contextEl, quoteContainer)">
                <app-icon [icon]="'edit'" [color]="'whitesmoke'" [size]="'0.9'"></app-icon>
              </span>
              <span class="option" title="Usuń cytat" (click)="insertDeleteInfo()" (dblclick)="deleteQuote(quote.id)">
                <app-icon [icon]="'archive'" [color]="'#b84343'"></app-icon>
              </span>
            </div>
            <q class="quote__quote" spellcheck="false" #quoteEl>{{quote.quote}}</q>
            <cite class="quote__context" spellcheck="false" #contextEl>{{quote.context}}</cite>
          </div>
        </div>
      </div>
      <div *ngIf="quotes?.length === 0" style="color: grey; margin-top: 1rem">
        Podana postać nie ma żadnych cytatów.
      </div>
    </div>

    <div *ngSwitchCase="'edit-character'">
      <app-character-modify type="EDIT" [charId]="selectedCharId"></app-character-modify>
    </div>

    <div *ngSwitchCase="'relationships'" class="admin-panel quotes admin-panel--main admin-panel-main">
      <form [formGroup]="relationForm" (ngSubmit)="createNewRelation()" class="relationship-form">
        <div class="relationship-form__container">
          <div class="relationship-form__box">
            <span>Postać 1:</span>
            <div class="combo-box">
              <input class="global-input combo-box__input" type="text" formControlName="firstChar"
                (click)="openSelect($event, 1)" />

              <select class="combo-box__select" #characterListOne (change)="onItemSelect($event, 'firstChar')">
                <option disabled *ngIf="filteredCharList?.length === 0" value="">
                  Brak danych
                </option>
                <option *ngFor="let char of filteredCharList" [value]="char.fullName">
                  {{char.fullName}}
                </option>
              </select>
            </div>

            <input class="global-input relationship-box__input" type="text" formControlName="secondChar" disabled />

          </div>

          <div class="relationship-form__box">
            <span>Kim jest postać 1:</span>
            <select class="global-select" formControlName="reverseRelation">
              <option value="-1" disabled>----</option>
              <option *ngFor="let type of RelationshipType | enumVal" [value]="type.key">{{type.value}}</option>
            </select>

            <select class="global-select relationship-box__input" formControlName="relation">
              <option value="-1" disabled>----</option>
              <option *ngFor="let type of RelationshipType | enumVal" [value]="type.key">{{type.value}}</option>
            </select>

          </div>

          <div class="relationship-form__box relationship-box">

            <span>Dla kogo:</span>

            <div class="combo-box">
              <input class="global-input combo-box__input" type="text" formControlName="secondChar"
                (click)="openSelect($event, 2)" (input)="openSelect($event, 2)" />

              <select class="combo-box__select" #characterListTwo (change)="onItemSelect($event, 'secondChar')">
                <option disabled *ngIf="filteredCharList?.length === 0" value="">
                  Brak danych
                </option>
                <option *ngFor="let char of filteredCharList" [value]="char.fullName">
                  {{char.fullName}}
                </option>
              </select>
            </div>


            <input class="global-input relationship-box__input" type="text" formControlName="firstChar" disabled />

          </div>

        </div>
        <div class="relationship-form__container">
          <input class="global-button" type="submit">
        </div>
      </form>
    </div>


    <div *ngSwitchCase="'edit-relationship'" class="relationships admin-panel admin-panel--main admin-panel-main">
      <ng-container *ngIf="selectedCharacter">

        <ul *ngIf="relationshipsList.length > 0">
          <form #relationshipsEditForm="ngForm" class="edit-relationships-form">
            <h2>{{selectedCharacter.fullName}} - relacje:</h2>
            <li *ngFor="let rel of relationshipsList; index as i">
              <div class="relationship-form__container">
                <button title="Usuń relację" (click)="deleteRelation(rel.relationship.relatedCharacter.id)">
                  <app-icon [icon]="'archive'" [color]="'#b84343'"></app-icon>
                </button>
                <div class="relationship-form__box">
                  <span>Postać 1:</span>
                  <input type="text" class="global-input" readonly [value]="selectedCharacter.fullName">
                  <input type="text" class="global-input relationship-box__input" readonly
                    [value]="rel.relationship.relatedCharacter.charName + ' ' + rel.relationship.relatedCharacter.charSurname">
                </div>
                <div class="relationship-form__box">
                  <span>Kim jest postać 1:
                  </span>
                  <select class="global-select" [ngModel]="RelationshipType[rel.relationship.relationName]"
                    [name]="'relationType__' + rel.relationship.relatedCharacter.id"
                    (change)="editRelation(rel.relationship.relatedCharacter.id, $event.target.value, false)">
                    <option *ngFor="let type of RelationshipType | enumVal" [value]="type.key">{{type.value}}</option>
                  </select>

                  <select class="global-select relationship-box__input"
                    [name]="'reverseRelationType__' + rel.relationship.relatedCharacter.id"
                    [ngModel]="RelationshipType[rel.reverseRelationshipType]"
                    (change)="editRelation(rel.relationship.relatedCharacter.id, $event.target.value, true)">

                    <option *ngFor="let type of RelationshipType | enumVal" [value]="type.key">{{type.value}}
                    </option>
                  </select>

                </div>
                <div class="relationship-form__box">
                  <span>Dla kogo:
                  </span>

                  <input type="text" class="global-input" readonly name="relatedCharacter"
                    [value]="rel.relationship.relatedCharacter.charName + ' ' + rel.relationship.relatedCharacter.charSurname">
                  <input type="text" class="global-input  relationship-box__input" readonly
                    [value]="selectedCharacter.fullName">

                </div>
                <input type="submit" value="lol" />
              </div>
            </li>
          </form>

        </ul>
        <span *ngIf="relationshipsList.length === 0">Brak relacji dla tej postaci.</span>
      </ng-container>

    </div>

    <div *ngSwitchCase="'character-stories'">
      <app-character-stories [charId]="selectedCharId"></app-character-stories>
    </div>
  </div>
</div>
