.changes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  &__title {
  }
}

.list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 150px;

    padding: 0.5rem;

    &--archived {
      color: red;
    }
  }
}

.delete-character,
.delete-side-character {
  &__form {
    margin: 1rem;
  }
}
