<app-loader [visible]="loading && !charList"></app-loader>

<div *ngIf="changeType" class="changes">

  <div [ngSwitch]="changeType">
    <div *ngSwitchCase="'new-character'">new character</div>
    <div *ngSwitchCase="'edit-character'">
      <h2 class="changes__title">Wybierz postać:</h2>

    </div>
    <div *ngSwitchCase="'delete-character'" class="delete-character">

      <form class="delete-character__form" #changeStateOfCharForm="ngForm" id="changeStateOfCharForm"
        (ngSubmit)="changeStateOfCharacters(changeStateOfCharForm)"
        *ngIf="(nonArchivedCharacters.length > 0) || (archivedCharacters.length > 0)">

        <label class="changes__title" *ngIf="nonArchivedCharacters && nonArchivedCharacters.length > 0">
          Wybierz postacie do usunięcia:
          <ul class="changes__list list">
            <li class="list__item" *ngFor="let char of nonArchivedCharacters; index as i">
              <input type="checkbox" ngModel [name]="char.id" />
              {{char.charName}} {{char.charSurname}}
            </li>
          </ul>
        </label>

        <label class="changes__title" *ngIf="archivedCharacters && archivedCharacters.length > 0">
          Wybierz postacie do przywrócenia:
          <ul class="changes__list list">
            <li class="list__item list__item--archived" *ngFor="let char of archivedCharacters; index as i">
              <input type="checkbox" ngModel [name]="char.id" />
              {{char.charName}} {{char.charSurname}}
            </li>
          </ul>
        </label>

        <button class="global-button" form="changeStateOfCharForm">Wykonaj</button>

      </form>

      <div *ngIf="(nonArchivedCharacters.length < 0) &&  (archivedCharacters.length < 0)">
        Brak postaci do wyświetlenia.
      </div>

    </div>
    <div *ngSwitchCase="'new-chars'">new </div>
    <div *ngSwitchCase="'edit-chars'">edit</div>

    <div *ngSwitchCase="'delete-chars'" class="delete-side-character">

      <form class="delete-side-character__form" #changeStateOfSideCharsForm="ngForm" id="changeStateOfSideCharsForm"
        (ngSubmit)="changeStateOfSideChars(changeStateOfSideCharsForm)"
        *ngIf="(nonArchivedSideChars.length > 0) || (archivedSideChars.length > 0)">

        <label class="changes__title" *ngIf="nonArchivedSideChars && nonArchivedSideChars.length > 0">
          Wybierz postacie poboczne do usunięcia:
          <ul class="changes__list list">
            <li class="list__item" *ngFor="let sideChar of nonArchivedSideChars">
              <input type="checkbox" ngModel [name]="sideChar.externalId" />
              {{sideChar.sideCharacterName}} {{sideChar.sideCharacterSurname}}
            </li>
          </ul>
        </label>

        <label class="changes__title" *ngIf="archivedCharacters && archivedSideChars.length > 0">
          Wybierz postacie poboczne do przywrócenia:
          <ul class="changes__list list">
            <li class="list__item list__item--archived" *ngFor="let sideChar of archivedSideChars">
              <input type="checkbox" ngModel [name]="sideChar.externalId" />
              {{sideChar.sideCharacterName}} {{sideChar.sideCharacterSurname}}
            </li>
          </ul>
        </label>

        <button class="global-button" form="changeStateOfSideCharsForm">Wykonaj</button>
      </form>

      <div *ngIf="(nonArchivedSideChars.length < 0) &&  (archivedSideChars.length < 0)">
        Brak postaci do wyświetlenia.
      </div>
    </div>


  </div>
</div>
