<app-loader [visible]="loading"></app-loader>

<div *ngIf="changeType" class="changes">

  <div [ngSwitch]="changeType">

    <div *ngSwitchCase="'new-character'">
      <app-new-character></app-new-character>
    </div>

    <div *ngSwitchCase="'story'" class="story">
      <form class="story__form story-form" #storyForm="ngForm" id="storyForm" *ngIf="!areTitlesSet"
        (ngSubmit)="generateStoryForms(storyForm)">
        <div class="story-form__container">
          <h2 class="changes__title">Wybierz postać i tytuły do rozdziałów historii:</h2>
          <label class="story-form__label global-label">
            Wybierz postać, której historię chcesz dodać/edytować:
            <select class="global-input story-form__select" ngModel name="name" *ngFor="let character of charList">
              <option class="global-input story-form__option" [value]="character.id">{{character.charName}}
                {{character.charSurname}}
              </option>
            </select>
          </label>
          <div class="story-form__container">
            Wybierz tytuły jakie chcesz dodać:
            <div class="title-choice">
              <label *ngFor="let title of titles" class="title-choice__item">
                <input type="checkbox" ngModel [name]="title.id" />
                {{title.title}}
              </label>
            </div>
          </div>
        </div>
        <input type="submit" class="global-button" value="Dalej" form="storyForm" />
      </form>

      <div *ngIf="areTitlesSet" class="titles">
        <h2 class="changes__title">Wypełnij poniższe pola: </h2>
        <form class="titles__form titles-form" #titlesForm="ngForm" id="titlesForm"
          (ngSubmit)="createStory(titlesForm)">
          <label *ngFor="let title of titlesForStories | keyvalue" class="titles-form__item">
            {{title.value}}
            <textarea ngModel [name]="title.key" class="global-textarea titles-form__textarea"></textarea>
          </label>
          <input type="submit" class="global-button" value="Dodaj historię" form="titlesForm" />
        </form>
      </div>
    </div>

    <div *ngSwitchCase="'edit-character'">
      <h2 class="changes__title">Wybierz postać:</h2>
    </div>

    <div *ngSwitchCase="'delete-character'" class="delete-character">

      <form class="delete-character__form" #changeStateOfCharForm="ngForm" id="changeStateOfCharForm"
        (ngSubmit)="changeStateOfCharacters(changeStateOfCharForm)"
        *ngIf="(nonArchivedCharacters.length > 0) || (archivedCharacters.length > 0)">

        <label class="changes__title" *ngIf="nonArchivedCharacters && nonArchivedCharacters.length > 0">
          Wybierz postacie do usunięcia:
          <ul class="changes__list list">
            <li class="list__item" *ngFor="let char of nonArchivedCharacters; index as i">
              <input type="checkbox" ngModel [name]="char.id" />
              {{char.charName}} {{char.charSurname}}
            </li>
          </ul>
        </label>

        <label class="changes__title" *ngIf="archivedCharacters && archivedCharacters.length > 0">
          Wybierz postacie do przywrócenia:
          <ul class="changes__list list">
            <li class="list__item list__item--archived" *ngFor="let char of archivedCharacters; index as i">
              <input type="checkbox" ngModel [name]="char.id" />
              {{char.charName}} {{char.charSurname}}
            </li>
          </ul>
        </label>

        <button class="global-button" form="changeStateOfCharForm">Wykonaj</button>

      </form>

      <div *ngIf="(nonArchivedCharacters.length < 0) &&  (archivedCharacters.length < 0)">
        Brak postaci do wyświetlenia.
      </div>

    </div>


    <div *ngSwitchCase="'new-chars'" class="side-char  admin-panel admin-panel--side">
      <h2 class="changes__title">Uzupełnij poniższe pola, aby dodać nową postać poboczną:</h2>
      <form class="side-char__new-side-form new-side-form" [formGroup]="newSideCharForm"
        (ngSubmit)="createNewSideCharInfo()" enctype="multipart/form-data">
        <div class="new-side-form__container">
          <label class="global-label">
            Imię:
            <input type="text" class="global-input" formControlName="name" />
          </label>
          <label class="global-label">
            Nazwisko:
            <input type="text" class="global-input" formControlName="surname" />
          </label>
        </div>
        <label class="new-side-form__label global-label books" *ngIf="books">
          Wybierz szkicowniki, w których postać występuje:
          <div *ngFor="let book of books">
            <input type="checkbox" class="global-input" [value]="book.externalId" (change)="onCheckChange($event)" />
            <app-icon [icon]="'book'" [color]="book.color" [size]="0.8"></app-icon>
            {{book.name}}
          </div>
        </label>
        <label class="new-side-form__label global-label">
          <span style="margin-bottom: 5px">Zdjęcie postaci:</span>
          <input #sideCharProfilePic class="global-file" formControlName="profilePic" type="file" accept="image/*" />
        </label>
        <div class="new-side-form__container new-side-form__container--story">
          <label class="new-side-form__label global-label"> Opis/historia postaci:
            <textarea class="global-textarea new-side-form__textarea" cols="50" formControlName="desc"></textarea>
          </label>
        </div>
        <input type="submit" class="global-button" [disabled]="newSideCharForm.invalid" />
      </form>
    </div>

    <div *ngSwitchCase="'edit-side'" class="edit-side-char admin-panel admin-panel--side">
      <ng-container *ngIf="sideCharacterDetails">
        <h2 class="changes__title">Edytuj poniższe pola: </h2>
        <form class="edit-side-char__edit-side-char-form edit-side-char-form" [formGroup]="editSideCharForm"
          (ngSubmit)="updateSideCharInfo()">
          <div class="edit-side-char-form__container">
            <label class="global-label">
              Imię:
              <input type="text" class="global-input" formControlName="name" />
            </label>
            <label class="global-label">
              Nazwisko:
              <input type="text" class="global-input" formControlName="surname" />
            </label>
          </div>
          <div class="edit-side-char-form__container edit-side-char-form__container--story">
            <label class="edit-side-char-form__label global-label"> Opis/historia postaci:
              <textarea class="global-textarea edit-side-char-form__textarea" cols="50"
                formControlName="desc"></textarea>
            </label>
          </div>
        </form>
        <button class="global-button" [disabled]="editSideCharForm.invalid"
          (click)="updateSideCharInfo()">Zmień</button>
      </ng-container>

    </div>

    <div *ngSwitchCase="'edit-side-pic'" class="edit-side-pic admin-panel admin-panel--side">
      <h2 class="changes__title">Zmień zdjęcie profilowe postaci:</h2>
      <form class="edit-side-pic__edit-side-pic-form edit-side-pic-form" [formGroup]="newProfilePicForm"
        (ngSubmit)="setNewProfilePic()" enctype="multipart/form-data">
        <label class="edit-side-pic__label global-label">
          <span style="margin-bottom: 5px">Zdjęcie pokazujące postać:</span>
          <input #newProfilePic class="global-file" formControlName="profilePic" type="file" accept="image/*" />
        </label>

        <button class="global-button" (click)="setNewProfilePic()">Zmień</button>
      </form>
    </div>
  </div>
</div>
