@import 'variables';

.statistics-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    height: calc(100vh - #{$navbar-height});
    overflow: scroll;
}

.gender-chart-container,
.age-chart-container,
.nationalities-chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gender-chart-card,
.age-chart-card,
.nationalities-chart-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: $card-bg;

    margin: 1rem;
}

.no-statistics {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: 100%;
}
