<!-- <article *ngIf="statistics && statistics.genderStatistics
  && !!statistics.genderStatistics.femaleNumber
  && !!statistics.genderStatistics.maleNumber
  && statistics.nationalitiesStatistics
  && statistics.nationalitiesStatistics.length > 0
  else
  noStatistics">
  <div class="statistics-container">

    <div
      *ngIf="statistics.genderStatistics && !!statistics.genderStatistics.femaleNumber && !!statistics.genderStatistics.maleNumber">
      <div class="gender-chart-container">
        <mat-card class="gender-chart-card">
          <mat-card-header>
            <mat-card-title>{{ 'STATISTICS.GENDER_CHART_TITLE' | translate }}</mat-card-title>
          </mat-card-header>
          <app-gender-chart [genderStatistics]="statistics.genderStatistics"></app-gender-chart>
        </mat-card>
      </div>

      <div class="types-chart-container" *ngIf="statistics.typeStatistics">
        <mat-card class="nationalities-chart-card">
          <mat-card-header>
            <mat-card-title>{{ 'STATISTICS.CHARS_TYPE_CHART_TITLE' | translate }}</mat-card-title>
          </mat-card-header>
          <app-type-chart [typeStatistics]="statistics.typeStatistics"></app-type-chart>
        </mat-card>
      </div>
    </div>


    <div class="nationalities-chart-container"
      *ngIf="statistics.nationalitiesStatistics && statistics.nationalitiesStatistics.length > 0">
      <mat-card class="nationalities-chart-card">
        <mat-card-header>
          <mat-card-title>{{ 'STATISTICS.NATIONALITY_CHART_TITLE' | translate }}</mat-card-title>
        </mat-card-header>
        <app-nationalities-chart [nationalitiesStatistics]="statistics.nationalitiesStatistics">
        </app-nationalities-chart>
      </mat-card>
    </div>

    <div class="age-chart-container" *ngIf="statistics.ageStatistics">
      <mat-card class="age-chart-card">
        <mat-card-header>
          <mat-card-title>{{ 'STATISTICS.AGE_CHART_TITLE' | translate }}</mat-card-title>
        </mat-card-header>
        <app-age-chart [ageStatistics]="statistics.ageStatistics">
        </app-age-chart>
      </mat-card>
    </div>
  </div>

</article>
<ng-template #noStatistics>
  <div class="no-statistics">
    {{ 'STATISTICS.NO_STATISTICS' | translate }}.
  </div>
</ng-template> -->
