<div class="quotes admin-panel--main admin-panel-main">

  <div class="quotes__button-container">
    <button class="global-button quotes__button" (click)="showQuotesForm()" [disabled]="isQuoteFormShown">
      + Dodaj cytat
    </button>
  </div>

  <div *ngIf="isQuoteFormShown" class="quotes__container quotes__container--form">
    <form class="quotes__new-quote-form new-quote-form" [formGroup]="newQuoteForm">
      <h2 class="changes__title">Uzupełnij poniższe pola, aby dodać nowy cytat:</h2>

      <label class="changes__title quotes__label">
        Wpisz treść cytatu:
        <textarea class="global-textarea quotes__textarea" formControlName="quote"></textarea>
      </label>
      <label class="changes__title quotes__label" style="margin-top: 1rem;">
        Dodaj kontekst cytatu:
        <input type="text" class="global-input" formControlName="context" />
      </label>
      <button class="global-button quotes__button" [disabled]="newQuoteForm.invalid" (click)="createNewQuote()">Dodaj
        cytat</button>
    </form>
  </div>

  <div *ngIf="quotes?.length > 0" class="quotes__container quotes__container--quotes">
    <div *ngFor="let quote of quotes">
      <div class="quote" #quoteContainer>
        <div class="quote__options quote-options">
          <span class="option" matTooltip="Edytuj cytat"
            (click)="editQuote(quote.id, quoteEl, contextEl, quoteContainer)">
            <app-icon [icon]="'edit'" [color]="'whitesmoke'" [size]="'0.9'"></app-icon>
          </span>
          <span class="option" matTooltip="Usuń cytat" (click)="insertDeleteInfo()" (dblclick)="deleteQuote(quote.id)">
            <app-icon [icon]="'archive'" [color]="'#b84343'"></app-icon>
          </span>
        </div>
        <q class="quote__quote" spellcheck="false" #quoteEl>{{quote.quote}}</q>
        <cite class="quote__context" spellcheck="false" #contextEl>{{quote.context}}</cite>
      </div>
    </div>
  </div>
  <div *ngIf="quotes?.length === 0" style="color: grey; margin-top: 1rem">
    Podana postać nie ma żadnych cytatów.
  </div>
</div>
