$book-card-width: 132px;

.books {
  display: flex;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100px;

  margin: 1rem;

  cursor: all-scroll;

  &__header {
    font-size: 0.8rem;
    margin-bottom: 2rem !important;
  }
}

.boundary {
  border: 1px dotted white;
  width: $book-card-width * 3;
}

.new-book-form-container {
  font-size: initial;
  width: 50%;

  display: flex;
  justify-content: space-around;
}

.new-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview {
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted white;
}
