<div class="story edit-main-pic  admin-panel admin-panel--main admin-panel-main">
  <form class="edit-main-pic__edit-main-pic-form edit-main-pic-form" enctype="multipart/form-data">
    <h2 class="changes__title">Dodaj zdjęcia do postaci:</h2>
    <div class="submit-container">

      <label class="edit-main-pic__label global-label">
        Zdjęcie profilowe:
        <img *ngIf="profilePicForMain"
          [src]="'data:image/' + profilePicForMain?.extension + ';base64, ' + profilePicForMain?.image | sanitizer"
          class="profile-pic">
        <input class="global-file" (change)="handleFileInput($event.target.files, false)" type="file"
          accept="image/*" />
      </label>

      <label class="edit-main-pic__label global-label">
        Dodaj zdjęcia postaci:
        <input class="global-file" (change)="handleFileInput($event.target.files, true)" type="file" accept="image/*"
          multiple />
      </label>
    </div>

    <button class="global-button" (click)="setNewImages()">Dodaj</button>
  </form>

  <div *ngIf="imagesListForMain?.length > 0" class="images edit-main-pic__edit-main-pic-form edit-main-pic-form">
    <h2 class="changes__title">Obecne zdjęcia:</h2>
    <div class="images__container">
      <div class="images__item" *ngFor="let image of imagesListForMain">
        <div class="images__option">
          <span matTooltip="Usuń zdjęcie" class="option" (click)="insertDeleteInfo()"
            (dblclick)="deleteCharacterImage(image.id)">
            <app-icon [icon]="'archive'" [color]="'#b84343'"></app-icon>
          </span>
        </div>
        <div>
          <img [src]="'data:image/' + image?.extension + ';base64, ' + image?.image | sanitizer" class="profile-pic">
          <div class="profile-pic__name profile-pic-name">
            <span matTooltip="Edytuj nazwę zdjęcia" class="option profile-pic-name__option"
              (click)="changeImageName(image.id, imageElement)">
              <app-icon [icon]="'edit'" [color]="'whitesmoke'" [size]="'0.7'"></app-icon>
            </span>
            <span #imageElement spellcheck="false">
              {{image?.name}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
