<div class="chapters-list">
    <h2
        class="chapters-list-title"
        [ngStyle]="{
            color: fontColor
        }"
    >
        📔 {{ 'CHAPTERS.AVAILABLE_CHAPTERS' | translate }}
    </h2>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="chapters-list__add-icon" *appIfLoggedUser>
            <mat-icon
                class="basic-icon basic-icon--expand add-icon"
                (click)="openChapterDialog()"
                >add</mat-icon
            >
        </div>
        <ng-container *ngIf="chapters.length > 0; else noChapters">
            <div
                *ngFor="let chapter of chapters; index as i"
                cdkDrag
                class="chapter-card"
            >
                <div class="chapter-information">
                    <div class="chapter-card__header chapter-card-header">
                        <div
                            class="chapter-card-header__name"
                            [ngStyle]="{
                                color: fontColor
                            }"
                        >
                            <mat-icon
                                class="option-icon"
                                *appIfLoggedUser
                                cdkDragHandle
                                >drag_indicator</mat-icon
                            >

                            <mat-icon
                                class="option-icon"
                                *appIfLoggedUser
                                (click)="openChapterDialog(chapter)"
                                >edit</mat-icon
                            >

                            {{ i + 1 }}. {{ chapter.name }}
                        </div>
                        <div class="chapter-card-header__desc">
                            {{ chapter.chapterDesc }}
                        </div>
                    </div>
                    <div class="chapter-card-information-with-options">
                        <div class="chapter-card__information">
                            <div class="chapter-card-information">
                                <span
                                    class="chapter-card-information__header"
                                    [ngStyle]="{
                                        color: fontColor
                                    }"
                                    >📃 {{ 'CHAPTERS.PAGES_COUNT' | translate }}
                                </span>
                                <span class="chapter-card-information__info">{{
                                    chapter.pagesIds?.length
                                }}</span>
                            </div>

                            <div
                                class="chapter-card-information"
                                *ngIf="chapter.createDate"
                            >
                                <span
                                    class="chapter-card-information__header"
                                    [ngStyle]="{
                                        color: fontColor
                                    }"
                                    >📆
                                    {{ 'CHAPTERS.CREATE_DATE' | translate }}:
                                </span>
                                <span class="chapter-card-information__info">
                                    {{
                                        chapter.createDateObj
                                            | date: 'dd/MM/yyyy'
                                    }}</span
                                >
                            </div>

                            <div class="chapter-card-information">
                                <span
                                    class="chapter-card-information__header"
                                    [ngStyle]="{
                                        color: fontColor
                                    }"
                                >
                                    🌄 {{ 'CHAPTERS.ACTION_TIME' | translate }}:
                                </span>
                                <span class="chapter-card-information__info">{{
                                    chapter.actionTime | nulled
                                }}</span>
                            </div>

                            <div class="chapter-card-information">
                                <span
                                    class="chapter-card-information__header"
                                    [ngStyle]="{
                                        color: fontColor
                                    }"
                                >
                                    🏡
                                    {{ 'CHAPTERS.ACTION_PLACE' | translate }}:
                                </span>
                                <span class="chapter-card-information__info">{{
                                    chapter.actionPlace | nulled
                                }}</span>
                            </div>
                        </div>
                        <div class="options" *appIfLoggedUser>
                            <mat-icon
                                class="close-icon"
                                (click)="insertDeleteInfo()"
                                (dblclick)="deleteChapter(chapter.id)"
                                >close</mat-icon
                            >
                        </div>
                    </div>
                </div>

                <div>
                    <mat-expansion-panel
                        [ngStyle]="{
                            color: fontColor
                        }"
                        (opened)="setCharacters(i)"
                        [expanded]="i === openedPanelId"
                        [hideToggle]="true"
                    >
                        <mat-expansion-panel-header>
                            {{ 'CHAPTERS.STARRING_CHARACTERS' | translate }}
                        </mat-expansion-panel-header>

                        <div class="char-card-form-and-chars">
                            <form
                                [formGroup]="charactersInChapterForm"
                                class="starring-characters-form"
                                *appIfLoggedUser
                            >
                                <mat-form-field
                                    class="edit-existing-characters__form-field"
                                >
                                    <mat-label>{{
                                        'PAGES_PANEL.ADD_STARRING_CHAR_MSG'
                                            | translate
                                    }}</mat-label>

                                    <input
                                        matInput
                                        formControlName="character"
                                        required
                                        [matAutocomplete]="auto"
                                    />
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option
                                            *ngFor="
                                                let char of filteredCharList
                                            "
                                            [value]="char"
                                            class="option"
                                        >
                                            <div class="option-container">
                                                <app-profile-pic
                                                    [profilePic]="
                                                        char.profilePic
                                                    "
                                                    [charId]="char.id"
                                                    [height]="'35px'"
                                                >
                                                </app-profile-pic>
                                                <div class="char-item">
                                                    <span
                                                        class="char-item__name"
                                                        >{{
                                                            char.fullName
                                                        }}</span
                                                    >
                                                    <span
                                                        class="char-item__pseudonym"
                                                        >{{
                                                            char.pseudonym
                                                        }}</span
                                                    >
                                                </div>
                                            </div>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                                <label id="type-radio-group">{{
                                    'PAGES_PANEL.STARRING_TYPE' | translate
                                }}</label>
                                <mat-radio-group
                                    formControlName="starringType"
                                    aria-labelledby="type-radio-group"
                                    class="starring-characters-form__radio-group radio-group"
                                >
                                    <ng-container
                                        *ngFor="
                                            let gen of StarringType | enumVal
                                        "
                                    >
                                        <mat-radio-button
                                            [value]="gen.key"
                                            name="starringType"
                                            class="radio-group__item"
                                        >
                                            {{ gen.value }}
                                        </mat-radio-button>
                                    </ng-container>
                                </mat-radio-group>

                                <button
                                    mat-stroked-button
                                    [disabled]="charactersInChapterForm.invalid"
                                    (click)="
                                        createStarringCharacter(chapter.id)
                                    "
                                >
                                    <mat-icon>library_add</mat-icon>
                                    {{
                                        'PAGES_PANEL.ADD_STARRING_CHAR'
                                            | translate
                                    }}
                                </button>
                            </form>

                            <div class="char-card-container">
                                <mat-card
                                    class="char-card"
                                    *ngFor="
                                        let starringCharacter of chapter.starringChars
                                    "
                                    [ngStyle]="{ color: fontColor }"
                                >
                                    <mat-card-header>
                                        <div
                                            mat-card-avatar
                                            class="card-avatar"
                                        >
                                            <a
                                                [routerLink]="[
                                                    '/char-cards',
                                                    starringCharacter.character
                                                        .id
                                                ]"
                                            >
                                                <app-profile-pic
                                                    [profilePic]="
                                                        starringCharacter
                                                            .character
                                                            .profilePic
                                                    "
                                                    [charId]="
                                                        starringCharacter
                                                            .character.id
                                                    "
                                                    [height]="'50px'"
                                                    class="preference-profile-pic"
                                                >
                                                </app-profile-pic>
                                            </a>
                                        </div>
                                        <mat-card-title>
                                            {{
                                                starringCharacter.character
                                                    .fullName
                                            }}
                                            <div class="char-item__pseudonym">
                                                {{
                                                    starringCharacter.character
                                                        .pseudonym
                                                }}
                                            </div>
                                        </mat-card-title>
                                        <mat-card-subtitle>{{
                                            starringCharacter.starringType
                                        }}</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<ng-template #noChapters>
    <span [ngStyle]="{ color: fontColor }" class="no-chapters-info">
        {{ 'CHAPTERS.NO_CHAPTERS_MSG' | translate }}
    </span>
</ng-template>
