<mat-card
    class="information"
    *ngIf="character"
    [ngClass]="{ disabled: isNewChar }"
>
    <div class="profile-pic-quotes-container">
        <div class="profile-pic-edition-container">
            <app-profile-pic
                [profilePic]="character.profilePic"
                [charId]="character.externalId"
                [isUserLogged]="isUserLogged"
                (profilePicChangedEvent)="changed()"
            ></app-profile-pic>
        </div>

        <app-divider [vertical]="true"></app-divider>

        <app-quotes
            [isUserLogged]="isUserLogged"
            [quote]="character.quote"
            [charId]="character.externalId"
            (quotesChangedEvent)="changed()"
        >
        </app-quotes>
    </div>

    <div class="information__segment">
        <app-divider></app-divider>

        <div class="story-starring-in-container">
            <div class="story-title-container">
                <h2 class="story__title">
                    📖 {{ 'CHARACTER_CARD.STORY' | translate }}
                </h2>
                <app-story
                    class="story-container"
                    [story]="character.story"
                    [isUserLogged]="isUserLogged"
                    (storyChangedEvent)="changed()"
                    [charId]="character.externalId"
                >
                </app-story>
            </div>

            <div *ngIf="character.starringIn && !!character.starringIn.length">
                <h2 class="story__title">
                    📚 {{ 'CHARACTER_CARD.APPEARANCE' | translate }}
                </h2>
                <app-starring-in-info [starringIn]="character.starringIn">
                </app-starring-in-info>
            </div>
        </div>
    </div>

    <div class="information__segment">
        <app-divider></app-divider>

        <div>
            <h2 class="story__title">
                👨‍👨‍👦‍👦 {{ 'CHARACTER_CARD.FAMILY_RELATIONS' | translate }}
            </h2>

            <app-char-relations
                [isUserLogged]="isUserLogged"
                [profilePic]="character.profilePic"
                [charId]="character.externalId"
                [charFullName]="character.fullName"
            ></app-char-relations>
        </div>
    </div>

    <div
        class="information__segment"
        *ngIf="(preferences && !!preferences.length) || isUserLogged"
    >
        <app-divider></app-divider>
        <h2 class="story__title">
            💘 {{ 'CHARACTER_CARD.PREFERENCES' | translate }}
        </h2>
        <app-preferences
            [preferences]="preferences"
            [charId]="character.externalId"
            (preferencesChangedEvent)="changed()"
        >
        </app-preferences>
    </div>

    <div class="information__segment">
        <app-divider></app-divider>
        <h2 class="story__title">
            📏 {{ 'CHARACTER_CARD.WEIGHT_HEIGHT_TABLE' | translate }}
        </h2>

        <app-measurements
            [measurements]="character.measurements"
            (measurementsChangedEvent)="changed()"
            [isUserLogged]="isUserLogged"
        ></app-measurements>
    </div>
</mat-card>
