<mat-card class="information" *ngIf="character">
    <!-- tutaj powinien być if  -->

    <div class="information__segment">
        <app-tags></app-tags>
        <app-divider></app-divider>
    </div>

    <div class="profile-pic-quotes-container">
        <div class="profile-pic-edition-container">
            <app-profile-pic
                [profilePic]="character.profilePic"
                [charId]="character.externalId"
                [isUserLogged]="isUserLogged"
                (profilePicChangedEvent)="emitInfoHasChangedEvent()"
            ></app-profile-pic>
        </div>

        <app-divider [vertical]="true"></app-divider>

        <app-quotes
            [isUserLogged]="isUserLogged"
            [quote]="character.quote"
            [color]="themeColor1"
            [charId]="character.externalId"
            (quotesChangedEvent)="emitInfoHasChangedEvent()"
        >
        </app-quotes>
    </div>

    <div class="information__segment">
        <mat-divider></mat-divider>
        <h2 class="story__title" [ngStyle]="{ color: themeColor1 }">
            📖 {{ 'CHARACTER_CARD.STORY' | translate }}
        </h2>
        <app-story
            [story]="character.story"
            [color]="themeColor1"
            [isUserLogged]="isUserLogged"
            (storyChangedEvent)="emitInfoHasChangedEvent()"
            [charId]="character.externalId"
        >
        </app-story>
    </div>

    <div
        class="information__segment"
        *ngIf="character.relationships && character.relationships.length > 0"
    >
        <mat-divider></mat-divider>

        <h2 class="story__title" [ngStyle]="{ color: themeColor1 }">
            👨‍👨‍👦‍👦 {{ 'CHARACTER_CARD.FAMILY_RELATIONS' | translate }}
        </h2>

        <app-char-relations
            [charRelationships]="character.relationships"
            [color]="bgColor1"
            [isUserLogged]="isUserLogged"
            [profilePic]="character.profilePic"
        ></app-char-relations>
    </div>

    <div
        class="information__segment"
        *ngIf="preferences && !!preferences.length"
    >
        <mat-divider></mat-divider>
        <h2 class="story__title" [ngStyle]="{ color: themeColor1 }">
            💘 {{ 'CHARACTER_CARD.PREFERENCES' | translate }}
        </h2>
        <app-preferences [preferences]="preferences" [bgColor]="bgColor1">
        </app-preferences>
    </div>

    <div
        class="information__segment"
        *ngIf="character.measurements?.hasAnyValues"
    >
        <mat-divider></mat-divider>
        <h2 class="story__title" [ngStyle]="{ color: themeColor1 }">
            📏 {{ 'CHARACTER_CARD.WEIGHT_HEIGHT_TABLE' | translate }}
        </h2>

        <app-measurements
            [measurements]="character.measurements"
        ></app-measurements>
    </div>

    <div
        class="information__segment"
        *ngIf="character.starringIn && !!character.starringIn.length"
    >
        <mat-divider></mat-divider>
        <h2 class="story__title" [ngStyle]="{ color: themeColor1 }">
            📚 {{ 'CHARACTER_CARD.APPEARANCE' | translate }}
        </h2>
        <app-starring-in-info [starringIn]="character.starringIn">
        </app-starring-in-info>
    </div>
</mat-card>
