@import 'variables';

:host {
    max-height: calc(100vh - #{$navbar-height});
    overflow-y: scroll;
    width: 100%;
}

.information {
    display: flex;
    flex-direction: column;

    font-size: 0.7rem;

    background: rgba(0, 0, 0, 0.5);

    &__segment {
        margin-top: 1rem;

        @include font-special;
    }
}

.profile-pic-quotes-container {
    display: flex;
    justify-content: flex-start;
}

.profile-pic-edition-container {
    width: 125px;
    height: 100px;
}

.story {
    &__title {
        @include font-special;

        color: var(--theme-color);

        font-size: 2rem;
    }
}

.story-starring-in-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media (max-width: 1250px) {
    .story-starring-in-container {
        flex-wrap: wrap;
    }
    .story-container {
        width: 100%;
    }
}

.story-title-container {
    width: 60%;
}

.charts-container {
    display: flex;
}
