@import 'variables';

.name {
    margin-left: 1rem;

    &--pseudonim {
        font-size: 0.8rem;
    }
}

.name-block {
    display: flex;
    align-items: center;
}

.flag {
    height: 0.9rem;
    margin-bottom: 5px;
    pointer-events: none;

    &--in-list {
        height: 0.6rem;
        margin: 0;
    }
}

.nationality {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
}

.card-info {
    align-items: center;

    margin-top: 0.2rem;
}

.card {
    width: 220px;
    height: fit-content;

    text-align: center;

    margin: 1rem;

    &__mat-card {
        background: $chars-list-bg;
    }

    &__type {
        border-radius: 3px;
        padding: 0 0.5rem;
        margin-right: 3rem;
        margin-top: -0.5rem !important;
        margin-bottom: -1rem;

        display: block !important;
    }

    &__name {
        display: flex;
        align-items: center;

        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1px 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 3px;

        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        text-align: left;
    }
}

.color {
    display: flex;
    flex-direction: column;

    &__container {
        display: flex;

        margin-top: -0.5rem;
    }

    &__item {
        width: 3rem;

        background: grey;
        border-radius: 3px;

        margin: 8px;

        &--eye {
            width: 100%;
        }
    }

    &__icon {
        transform: scale(0.5);
    }
}

.colors {
    display: flex;

    flex-direction: column;
    width: 175px;

    margin-top: 0.5rem;
    margin-left: -0.5rem;
    margin-bottom: -1rem;
}

.info {
    font-size: 0.7rem;
    background: #1d1d1d;
    padding-top: 0.5rem;

    &__desc {
        width: 90px;

        font-weight: bold;
        font-size: smaller;
        text-transform: uppercase;
        color: $accent;
    }

    &__data {
        margin-left: 0.5rem;

        &--death {
            color: rgb(124, 52, 52);
        }
    }
}

.edit-country {
    display: flex;
}

.edit-nationality {
    width: 5rem;
}

.icons-options {
    display: flex;
    flex-direction: column;

    height: 1rem;
    margin-bottom: 0.5rem;
}
