@import 'variables';

.name {
    display: flex;
    flex-wrap: wrap;

    margin-left: 1rem;

    &--pseudonim {
        display: flex;
        align-items: baseline;

        font-size: 0.8rem;

        color: var(--theme-color);
    }
}

.name-block {
    display: flex;
    align-items: center;
}

.card-type-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;

    width: 220px;

    margin-left: 1rem;

    text-align: center;

    &__type {
        padding: 0.25rem 0.5rem;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;

        background: var(--theme-color);
    }

    &__name {
        display: flex;
        align-items: center;

        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-bottom: 0.5rem;
        border-radius: 3px;

        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }
}

.icons-options {
    display: flex;
    flex-direction: column;

    height: 1rem;
    margin-bottom: 0.5rem;
}

.name-form-field {
    width: 7rem;
}

.gender-block {
    display: flex;
}

.card-type-block {
    margin-top: 1rem;

    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 9rem;
}
