@import 'variables';

.name {
    display: flex;

    margin-left: 1rem;

    &--pseudonim {
        font-size: 0.8rem;
    }
}

.name-block {
    display: flex;
    align-items: center;
}

.card-type-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;

    width: 220px;
    height: 95vh;

    margin-left: 1rem;

    text-align: center;

    background: $chars-list-bg;

    &__type {
        margin-top: 1rem;
        padding: 0.25rem 0.5rem;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__name {
        display: flex;
        align-items: center;

        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1px 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 3px;

        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }
}
