<div class="card" *ngIf="character">
    <mat-card [ngStyle]="{ background: bgColor1 }">
        <span
            class="card__type"
            [ngStyle]="{ background: bgColor2 }"
            [ngSwitch]="character?.charType"
        >
            <span *ngSwitchCase="'MAIN'">{{
                'enum.charType.MAIN' | translate
            }}</span>
            <span *ngSwitchCase="'SIDE'">{{
                'enum.charType.SIDE' | translate
            }}</span>
            <span *ngSwitchCase="'BACKGROUND'">{{
                'enum.charType.BACKGROUND' | translate
            }}</span>
        </span>
        <mat-card-header>
            <span class="card__name">
                <app-icon
                    *ngIf="character.gender"
                    [icon]="character.gender | lowercase"
                    [color]="character.gender | genderIconColor"
                    [size]="'0.7'"
                >
                </app-icon>
                <span class="name">
                    {{ character.charName }} {{ character.charSurname }}
                </span>
            </span>
        </mat-card-header>
        <ng-container *ngIf="character.imagesList.length > 0">
            <img
                *ngFor="let image of character.imagesList; index as i"
                [src]="
                    'data:image/' + image?.extension + ';base64, ' + image.image
                        | sanitizer
                "
                class="profile-pic__image profile-pic__image--inactive"
                [ngClass]="{
                    'profile-pic__image--active': i === currentImageIndex
                }"
            />
            <div>
                <button
                    class="profile-pic__button"
                    [ngStyle]="{ background: bgColor2 }"
                    matRipple
                    *ngFor="let image of character.imagesList; index as i"
                    (click)="setImage(i)"
                >
                    {{ image.name | filenameModifier }}
                </button>
            </div>
        </ng-container>
        <div
            class="card__profile-pic--empty"
            *ngIf="character.imagesList.length === 0"
        >
            {{ 'CHARACTER_CARD.NO_PHOTOS' | translate }}.
        </div>
        <mat-card class="card__info info" [ngStyle]="{ background: bgColor2 }">
            <span
                [ngStyle]="{ color: character.colors?.themeColor1 }"
                class="name--pseudonim"
            >
                {{ character.pseudonim }}
            </span>

            <app-divider></app-divider>

            <div class="card-info nationality" *ngIf="flagURL">
                <span class="info__desc">
                    🏁 {{ 'CHARACTER_CARD.NATIONALITY' | translate }}
                </span>
                <img class="info__data flag" [src]="flagURL" />
            </div>

            <div class="card-info" *ngIf="character.birthday">
                <span class="info__desc">
                    🎂 {{ 'CHARACTER_CARD.BIRTHDAY' | translate }}
                </span>
                <span class="info__data"
                    >{{ character.birthday | date: 'dd/MM/yyyy' }}
                </span>
            </div>

            <ng-container *ngIf="character.death">
                <div>
                    <span class="info__desc">
                        💀 {{ 'CHARACTER_CARD.DEATH' | translate }}
                    </span>
                    <span class="info__data info__data--death">
                        {{ character.death | date: 'dd/MM/yyyy' }}
                        <span *ngIf="character.deathReason">
                            ({{ character.deathReason }})
                        </span>
                    </span>
                </div>
            </ng-container>

            <div class="card-info" *ngIf="character.occupation">
                <span class="info__desc">
                    💼 {{ 'CHARACTER_CARD.PROFESSION' | translate }}
                </span>
                <span class="info__data">{{ character.occupation }}</span>
            </div>

            <ng-container *ngIf="character.colors">
                <div class="info__color color">
                    <app-divider></app-divider>
                    <div class="colors">
                        <div class="color__container">
                            <span class="color__icon">
                                <app-icon
                                    [icon]="'clothing'"
                                    [color]="'white'"
                                ></app-icon>
                            </span>
                            <div
                                class="color__item"
                                [ngStyle]="{
                                    background: character.colors.themeColor1
                                }"
                            ></div>
                            <div
                                class="color__item"
                                [ngStyle]="{
                                    background: character.colors.themeColor2
                                }"
                            ></div>
                            <div
                                class="color__item"
                                [ngStyle]="{
                                    background: character.colors.themeColor3
                                }"
                            ></div>
                        </div>
                        <div class="color__container">
                            <span class="color__icon">
                                <app-icon
                                    [icon]="'eye'"
                                    [color]="'white'"
                                ></app-icon>
                            </span>

                            <div
                                class="color__item color__item--eye"
                                [ngStyle]="
                                    getLinearGradientForEyeColor(
                                        character.colors
                                    )
                                "
                            ></div>
                        </div>
                        <div class="color__container">
                            <span class="color__icon">
                                <app-icon
                                    [icon]="'face'"
                                    [color]="'white'"
                                ></app-icon>
                            </span>
                            <span class="color__icon"> </span>
                            <div
                                class="color__item"
                                [ngStyle]="{
                                    background: character.colors.skinColor
                                }"
                            ></div>
                            <span class="color__icon">
                                <app-icon
                                    [icon]="'hair'"
                                    [color]="'white'"
                                ></app-icon>
                            </span>
                            <div
                                class="color__item"
                                [ngStyle]="{
                                    background: character.colors.hairColor
                                }"
                            ></div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <app-temperament-bars
                *ngIf="hasTemperamentInfo"
                [temperaments]="character.temperament"
            >
            </app-temperament-bars>

            <app-divider></app-divider>
            <app-tags></app-tags>
        </mat-card>
    </mat-card>
</div>
