<form class="card" *ngIf="character" [formGroup]="form">
    <div [ngSwitch]="character?.charType" class="card-type-block">
        <span class="card__type" [ngStyle]="{ background: bgColor2 }">
            {{ 'enum.charType.' + character?.charType | translate }}
        </span>
    </div>

    <span class="card__name">
        <!-- <app-edit-icon (clickedEvent)="clicked()"></app-edit-icon> -->

        <app-icon
            *ngIf="character.gender"
            [icon]="character.gender | lowercase"
            [color]="character.gender | genderIconColor"
            [size]="'0.7'"
        >
        </app-icon>
        <div class="name">
            <div class="name-block">
                <div class="icons-options" *appIfLoggedUser>
                    <!-- (clickedEvent)="clicked('charName')" -->

                    <app-edit-icon
                        *ngIf="editedKey !== 'charName'"
                    ></app-edit-icon>

                    <ng-container *ngIf="editedKey === 'charName'">
                        <mat-icon
                            class="option-icon option-icon--cancel"
                            (click)="editedKey = null"
                            >cancel</mat-icon
                        >
                        <!-- (click)="saveCharacter()" -->

                        <mat-icon class="option-icon option-icon--save"
                            >save</mat-icon
                        >
                    </ng-container>
                </div>

                {{ character.charName }}
            </div>
            <!-- (clickedEvent)="clicked('charSurname')" -->

            <div class="name-block">
                <app-edit-icon *ngIf="isUserLogged"></app-edit-icon>
                {{ character.charSurname }}
            </div>
        </div>
    </span>

    <div class="card__info info">
        <span
            [ngStyle]="{ color: character.colors?.themeColor1 }"
            class="name--pseudonim"
        >
            {{ character.pseudonim }}
        </span>
    </div>

    <app-divider></app-divider>

    <app-images
        [character]="character"
        [isUserLogged]="isUserLogged"
        [bgColor]="bgColor2"
        (imagesHaveChangedEvent)="emitInfoHasChangedEvent()"
    >
    </app-images>
</form>
