<ul class="navbar">
    <li class="navbar__item">
        <a [routerLink]="['/main']">
            <button class="title" mat-button>
                <div style="display: flex">
                    <img
                        src="../../../../../assets/svg/rdest.svg"
                        style="margin-right: 1rem"
                    />
                    Alea iacta est
                </div>
            </button>
        </a>
    </li>

    <li class="navbar__item">
        <a
            [routerLink]="['/char-cards']"
            routerLinkActive="navbar__item--active"
        >
            <button mat-button>{{ 'NAVBAR.CHARACTERS' | translate }}</button>
        </a>
    </li>

    <li class="navbar__item">
        <a [routerLink]="['/pages']" routerLinkActive="navbar__item--active">
            <button mat-button>{{ 'NAVBAR.CHAPTERS' | translate }}</button>
        </a>
    </li>

    <li class="navbar__item--user">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon svgIcon="user"></mat-icon>
            <span *ngIf="_authService.loggedUser$ | async">
                {{ (_authService.loggedUser$ | async)?.username }}
            </span>
            <span *ngIf="!(_authService.loggedUser$ | async)">
                {{ 'NAVBAR.NO_USER' | translate }}
            </span>
        </button>
    </li>
    <mat-menu #menu="matMenu">
        <a [routerLink]="['/admin-panel']">
            <button
                mat-menu-item
                *ngIf="
                    (_authService.loggedUser$ | async) &&
                    (_authService.loggedUser$ | async)?.username
                "
            >
                {{ 'NAVBAR.ADMIN_CHARACTERS' | translate }}
            </button>
        </a>
        <a [routerLink]="['/edit-story-panel']">
            <button
                mat-menu-item
                *ngIf="
                    (_authService.loggedUser$ | async) &&
                    (_authService.loggedUser$ | async)?.username
                "
            >
                {{ 'NAVBAR.ADMIN_CHAPTERS' | translate }}
            </button>
        </a>
        <a [routerLink]="['/login']">
            <button mat-menu-item *ngIf="!(_authService.loggedUser$ | async)">
                <mat-icon svgIcon="log-in"></mat-icon>
                {{ 'NAVBAR.LOGIN' | translate }}
            </button>
        </a>
        <button
            mat-menu-item
            (click)="logout()"
            *ngIf="
                (_authService.loggedUser$ | async) &&
                (_authService.loggedUser$ | async)?.username
            "
        >
            <mat-icon>exit_to_app</mat-icon>
            {{ 'NAVBAR.LOGOUT' | translate }}
        </button>
    </mat-menu>
    <li class="navbar__item--lang">
        <ng-container *ngFor="let lang of supportedLanguages">
            <button (click)="saveLang(lang.language)">
                <div
                    [style.background]="'url(' + lang.flag + ')'"
                    class="lang-icon"
                    [ngClass]="{
                        'lang-icon--active':
                            lang.language === translate.currentLang
                    }"
                ></div>
            </button>
        </ng-container>
    </li>
</ul>
