@import '../../../../../global_styles/variables.scss';
.relationship-form {
    padding: 1rem;
}

.relationship-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        display: flex;
        justify-content: center;

        background: $card-bg;

        margin: 0.5rem 0;

        &--edit {
            justify-content: center;
            align-items: center;
        }
    }
    &__box {
        display: flex;
        flex-direction: column;

        margin: 1rem;
    }
}
.relationship,
.relationships {
    display: flex;
    justify-content: center;
    // align-items: center;

    height: calc(100vh - #{$navbar-height}) !important;

    overflow-x: scroll;

    font-size: initial;
}

.relationship {
    align-items: center;
    flex-direction: column;

    // height: calc(100vh - #{$navbar-height}) !important;
}

.edit-relationships-form {
    display: flex;
    flex-direction: column;

    font-size: initial;
}
.option {
    display: flex;
    align-items: center;
    &__image {
        height: 1.75rem;
        width: 1.75rem;

        border-radius: 50%;
    }
}

.character-name {
    border-radius: 3px;
    padding: 1rem;
    margin: 0.5rem;

    &--one {
        background: $accent;
        color: black;
    }

    &--two {
        background: $primary;
        color: white;
    }
}

.select {
    margin: 1.3rem 0;
}
