@import "../../../../../../global_styles/variables.scss";

.edit-chapters-menu {
  display: flex;
  height: calc(100vh - #{$navbar-height});

  &__aside {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }
}

.book {
  &__title {
    font-size: xx-large;
  }
}

.edit-chapters-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
}

.edit-chapters-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: initial;
}
