@import "../../../../../../global_styles/variables.scss";

.edit-chapters-menu {
  display: flex;
  height: calc(100vh - #{$navbar-height});

  &__aside {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }
}

.book {
  &__title {
    font-size: xx-large;
  }
}

.edit-chapters-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: calc(100vh - #{$navbar-height});
  width: 100%;

  position: fixed;
  overflow: scroll;
}

.edit-chapters-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 5rem;

  font-size: initial;
}

.chapter-buttons-container {
  display: flex !important;
  justify-content: space-evenly;
}

.chapter-card {
  cursor: all-scroll;
  width: 30rem;
}

.boundary {
  border: 1px dotted white;
  margin-top: 1rem;

  overflow-y: scroll;
}
