.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10rem;

  &__form {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  &__info {
    color: #9a9a9a;
    font-size: 0.8rem;
  }
}

.form {
  &__label {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__input {
    margin: 0 0 1rem 1rem;
  }

  &__submit-button {
    width: 5rem;
    margin: auto;
  }
}
