<article class="login">
  <h2 class="login__info">Aby wejść do panelu admina, zaloguj się:</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__form">
    <label class="form__label">
      Nazwa użytkownika:
      <input class="form__input" formControlName="username">
    </label>

    <label class="form__label">
      Hasło:
      <input class="form__input" type="password" formControlName="password">
    </label>

    <input class="form__submit-button global-button" type="submit" value="submit">
  </form>

</article>
