.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10rem;

  &__form {
    justify-content: center;
    display: flex;
    flex-direction: column;

    font-size: initial;
  }

  &__info {
    font-size: initial;
  }
}

.form {
  &__submit-button {
    width: 5rem;
    margin: auto;
  }
}
