<article class="admin-panel admin-panel--login">
    <h2 class="login__info">{{ 'LOGIN_PAGE.LOGIN_MSG' | translate }}:</h2>

    <form [formGroup]="loginForm" class="login__form">
        <mat-form-field class="example-full-width">
            <mat-label> {{ 'LOGIN_PAGE.USERNAME' | translate }}</mat-label>
            <input matInput value="" formControlName="username" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label> {{ 'LOGIN_PAGE.PASSWORD' | translate }}</mat-label>
            <input
                type="password"
                matInput
                value=""
                formControlName="password"
            />
        </mat-form-field>

        <button
            mat-raised-button
            color="accent"
            class="form__submit-button"
            (click)="onSubmit()"
            [disabled]="loginForm.invalid"
        >
            {{ 'LOGIN_PAGE.LOGIN' | translate }}
        </button>
    </form>
</article>
