<div class="tags-section">
    <form [formGroup]="newTagForm" *appIfLoggedUser>
        <mat-form-field class="add-new-tag">
            <mat-icon class="basic-icon basic-icon--expand add-icon" matSuffix
                >add</mat-icon
            >
            <input
                matInput
                formControlName="tagToAdd"
                [matAutocomplete]="auto"
                [placeholder]="'EDIT_TAGS.TAG_NAME' | translate"
                class="relationship-box__input"
            />
            <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="addTagToCharacter($event)"
            >
                <mat-option
                    *ngFor="let tag of filteredTagsList"
                    [value]="tag"
                    class="option"
                >
                    <div class="option-container">
                        <app-tag [tagData]="tag"></app-tag>
                    </div>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>

    <div class="tags-container">
        <div *ngFor="let tag of character?.tags" class="tag">
            <div class="tag__icon-box">
                <mat-icon
                    *appIfLoggedUser
                    class="close-icon tag__icon"
                    (click)="insertDeleteInfo()"
                    (dblclick)="deleteCharacterTag(tag.id)"
                    >close</mat-icon
                >
            </div>

            <div>
                <app-tag [tagData]="tag"></app-tag>
            </div>
        </div>
    </div>
</div>
