<div class="books-list">
    <div class="books-list__title">
        📚 {{ 'BOOKS_LIST.BOOKS_LIST_TITLE' | translate }}
    </div>

    <div
        *ngIf="!!(books$ | async)?.length; else noBooksTemplate"
        cdkDropList
        [cdkDropListData]="books$ | async"
        (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal"
        class="book-list-container"
    >
        <div *ngFor="let book of books$ | async" class="book-card" cdkDrag>
            <div class="book-card__title">
                <mat-icon class="option-icon" *appIfLoggedUser cdkDragHandle
                    >drag_indicator</mat-icon
                >

                <mat-icon class="option-icon" (click)="openBookDialog(book)"
                    >edit</mat-icon
                >{{ book.name }}

                <mat-icon
                    class="close-icon"
                    (click)="insertDeleteInfo()"
                    (dblclick)="deleteBook(book.id)"
                    >close</mat-icon
                >
            </div>
            <a
                [routerLink]="['./chapters']"
                [queryParams]="{
                    id: book.id
                }"
            >
                <app-book-icon
                    class="book-card__icon-container"
                    [book]="book"
                    [size]="3"
                ></app-book-icon>
            </a>
        </div>
        <div class="book-card__add-icon" *appIfLoggedUser>
            <mat-icon
                class="basic-icon basic-icon--expand add-icon"
                (click)="openBookDialog()"
                >add</mat-icon
            >
        </div>
    </div>
</div>
<ng-template #noBooksTemplate>
    <div class="book-list">
        {{ 'BOOKS_LIST.NO_BOOKS' | translate }}
    </div>
</ng-template>
