@import 'variables';

.nationality {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
}

.edit-country {
    display: flex;
    height: 1rem;
}

.edit-nationality {
    width: 5rem;
    margin-top: -1rem;
}

.flag {
    height: 0.9rem;
    margin-bottom: 5px;
    pointer-events: none;

    &--in-list {
        height: 0.6rem;
        margin: 0;
    }
}

.info {
    font-size: 0.7rem;
    background: #1d1d1d;
    padding-top: 0.5rem;

    &__desc {
        width: 90px;

        font-weight: bold;
        text-transform: uppercase;
        color: $accent;
    }

    &__data {
        margin-left: 0.5rem;

        &--death {
            color: rgb(124, 52, 52);
        }
    }
}

.icons-options {
    display: flex;
    flex-direction: column;

    height: 1rem;
    margin-bottom: 0.5rem;
}

.card {
    width: 175px;

    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5.9rem;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        text-align: left;
    }
}

.card-info {
    align-items: center;

    margin-top: 0.5rem;
}
