<form class="card" [formGroup]="form">
    <div class="container">
        <div class="card-info nationality" *ngIf="flag || isUserLogged">
            <span class="info__desc">
                🚩 {{ 'CHARACTER_CARD.NATIONALITY' | translate }}
            </span>
            <div class="edit-country">
                <ng-container
                    *ngTemplateOutlet="
                        editButtons;
                        context: {
                            key: 'nationality'
                        }
                    "
                ></ng-container>

                <ng-container *ngIf="editedKey !== 'nationality'">
                    <div *ngIf="flag" [title]="flag.name.common">
                        <img [src]="flag?.flags.svg | sanitizer" class="flag" />
                    </div>
                    <div *ngIf="!flag">?</div>
                </ng-container>

                <mat-form-field
                    *ngIf="editedKey === 'nationality'"
                    class="edit-nationality"
                >
                    <mat-label>
                        {{
                            'CHARACTER_CARD.NATIONALITY' | translate
                        }}</mat-label
                    >

                    <mat-select formControlName="nationality">
                        <mat-option [value]="null">---</mat-option>
                        <mat-option
                            *ngFor="let country of countries"
                            [value]="country.cca2"
                        >
                            <img
                                [src]="country.flags?.svg"
                                class="flag flag--in-list"
                            />
                            {{ country.name.common }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="card-info" *ngIf="character?.birthday || isUserLogged">
            <span class="info__desc">
                🎂 {{ 'CHARACTER_CARD.BIRTHDAY' | translate }}
            </span>
            <div class="edit-date">
                <ng-container
                    *ngTemplateOutlet="
                        editButtons;
                        context: {
                            key: 'birthday'
                        }
                    "
                ></ng-container>
                <span class="info__data" *ngIf="editedKey !== 'birthday'"
                    >{{
                        character?.birthday
                            ? (character?.birthday | date : 'dd/MM/yyyy')
                            : '?'
                    }}
                </span>

                <mat-form-field
                    *ngIf="editedKey === 'birthday'"
                    class="date-form-field"
                >
                    <input
                        matInput
                        [matDatepicker]="birthday"
                        [formControlName]="'birthday'"
                    />

                    <mat-datepicker-toggle
                        matSuffix
                        [for]="birthday"
                    ></mat-datepicker-toggle>
                    <mat-datepicker-toggle
                        matSuffix
                        (click)="this.form.get('birthday')?.setValue(null)"
                    >
                        <mat-icon matDatepickerToggleIcon>clear</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #birthday></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="card-info" *ngIf="character?.death || isUserLogged">
            <span class="info__desc">
                💀 {{ 'CHARACTER_CARD.DEATH' | translate }}
            </span>
            <div class="edit-date">
                <ng-container
                    *ngTemplateOutlet="
                        editButtons;
                        context: {
                            key: 'death'
                        }
                    "
                ></ng-container>
                <span class="info__data" *ngIf="editedKey !== 'death'"
                    >{{
                        character?.death
                            ? (character?.death | date : 'dd/MM/yyyy')
                            : '?'
                    }}
                </span>

                <mat-form-field
                    *ngIf="editedKey === 'death'"
                    class="date-form-field"
                >
                    <input
                        matInput
                        [matDatepicker]="death"
                        [formControlName]="'death'"
                    />

                    <mat-datepicker-toggle
                        matSuffix
                        [for]="death"
                    ></mat-datepicker-toggle>
                    <mat-datepicker-toggle
                        matSuffix
                        (click)="this.form.get('death')?.setValue(null)"
                    >
                        <mat-icon matDatepickerToggleIcon>clear</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #death></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="card-info" *ngIf="character?.deathReason || isUserLogged">
            <span class="info__desc">
                📃 {{ 'CHARACTER_CARD.DEATH_REASON' | translate }}
            </span>
            <div class="edit-field">
                <ng-container
                    *ngTemplateOutlet="
                        editButtons;
                        context: {
                            key: 'deathReason'
                        }
                    "
                ></ng-container>
                <span class="info__data" *ngIf="editedKey !== 'deathReason'"
                    >{{ character?.deathReason }}
                </span>

                <mat-form-field
                    *ngIf="editedKey === 'deathReason'"
                    class="date-form-field"
                >
                    <input matInput [formControlName]="'deathReason'" />
                </mat-form-field>
            </div>
        </div>

        <div class="card-info" *ngIf="character?.profession || isUserLogged">
            <span class="info__desc">
                💼 {{ 'CHARACTER_CARD.PROFESSION' | translate }}
            </span>
            <div class="edit-field edit-field--string-value">
                <ng-container
                    *ngTemplateOutlet="
                        editButtons;
                        context: {
                            key: 'occupation'
                        }
                    "
                ></ng-container>
                <span class="info__data" *ngIf="editedKey !== 'occupation'"
                    >{{ character?.occupation }}
                </span>

                <mat-form-field
                    *ngIf="editedKey === 'occupation'"
                    class="date-form-field"
                >
                    <input matInput [formControlName]="'occupation'" />
                </mat-form-field>
            </div>
        </div>

        <div
            class="card-info"
            *ngIf="character?.mbtiPersonality || isUserLogged"
        >
            <span class="info__desc">
                🧠 {{ 'CHARACTER_CARD.MBTI' | translate }}
            </span>
            <div class="edit-field edit-field--string-value">
                <ng-container
                    *ngTemplateOutlet="
                        editButtons;
                        context: {
                            key: 'mbtiPersonality'
                        }
                    "
                ></ng-container>
                <span
                    class="info__data personality"
                    *ngIf="editedKey !== 'mbtiPersonality'"
                    [ngStyle]="{
                        color: character?.mbtiPersonality
                            ? getColorForMbti(character?.mbtiPersonality)
                            : 'whitesmoke'
                    }"
                    >{{ character?.mbtiPersonality }}
                </span>

                <mat-form-field
                    *ngIf="editedKey === 'mbtiPersonality'"
                    class="date-form-field"
                >
                    <input matInput [formControlName]="'mbtiPersonality'" />
                </mat-form-field>
            </div>
        </div>

        <div class="card-info" *ngIf="character?.favouriteFood || isUserLogged">
            <span class="info__desc">
                🍉 {{ 'CHARACTER_CARD.FAVOURITE_FOOD' | translate }}
            </span>
            <div class="edit-field edit-field--string-value">
                <ng-container
                    *ngTemplateOutlet="
                        editButtons;
                        context: {
                            key: 'favouriteFood'
                        }
                    "
                ></ng-container>
                <span class="info__data" *ngIf="editedKey !== 'favouriteFood'"
                    >{{ character?.favouriteFood }}
                </span>

                <mat-form-field
                    *ngIf="editedKey === 'favouriteFood'"
                    class="date-form-field"
                >
                    <input matInput [formControlName]="'favouriteFood'" />
                </mat-form-field>
            </div>
        </div>

        <div
            class="card-info"
            *ngIf="character?.leastFavouriteFood || isUserLogged"
        >
            <span class="info__desc">
                🥑 {{ 'CHARACTER_CARD.LEAST_FAVOURITE_FOOD' | translate }}
            </span>
            <div class="edit-field edit-field--string-value">
                <ng-container
                    *ngTemplateOutlet="
                        editButtons;
                        context: {
                            key: 'leastFavouriteFood'
                        }
                    "
                ></ng-container>
                <span
                    class="info__data"
                    *ngIf="editedKey !== 'leastFavouriteFood'"
                    >{{ character?.leastFavouriteFood }}
                </span>

                <mat-form-field
                    *ngIf="editedKey === 'leastFavouriteFood'"
                    class="date-form-field"
                >
                    <input matInput [formControlName]="'leastFavouriteFood'" />
                </mat-form-field>
            </div>
        </div>

        <div class="card-info" *ngIf="character?.hobby || isUserLogged">
            <span class="info__desc">
                ⛹️ {{ 'CHARACTER_CARD.HOBBY' | translate }}
            </span>
            <div class="edit-field edit-field--string-value">
                <ng-container
                    *ngTemplateOutlet="
                        editButtons;
                        context: {
                            key: 'hobby'
                        }
                    "
                ></ng-container>
                <span class="info__data" *ngIf="editedKey !== 'hobby'"
                    >{{ character?.hobby }}
                </span>

                <mat-form-field
                    *ngIf="editedKey === 'hobby'"
                    class="date-form-field"
                >
                    <input matInput [formControlName]="'hobby'" />
                </mat-form-field>
            </div>
        </div>

        <div class="card-info" *ngIf="character?.likes || isUserLogged">
            <span class="info__desc">
                😊 {{ 'CHARACTER_CARD.LIKES' | translate }}
            </span>
            <div class="edit-field edit-field--string-value">
                <ng-container
                    *ngTemplateOutlet="
                        editButtons;
                        context: {
                            key: 'likes'
                        }
                    "
                ></ng-container>
                <span class="info__data" *ngIf="editedKey !== 'likes'"
                    >{{ character?.likes }}
                </span>

                <mat-form-field
                    *ngIf="editedKey === 'likes'"
                    class="date-form-field"
                >
                    <input matInput [formControlName]="'likes'" />
                </mat-form-field>
            </div>
        </div>

        <div class="card-info" *ngIf="character?.dislikes || isUserLogged">
            <span class="info__desc">
                😖 {{ 'CHARACTER_CARD.DISLIKES' | translate }}
            </span>
            <div class="edit-field edit-field--string-value">
                <ng-container
                    *ngTemplateOutlet="
                        editButtons;
                        context: {
                            key: 'dislikes'
                        }
                    "
                ></ng-container>
                <span class="info__data" *ngIf="editedKey !== 'dislikes'"
                    >{{ character?.dislikes }}
                </span>

                <mat-form-field
                    *ngIf="editedKey === 'dislikes'"
                    class="date-form-field"
                >
                    <input matInput [formControlName]="'dislikes'" />
                </mat-form-field>
            </div>
        </div>
    </div>

    <app-temperament-bars
        *ngIf="hasTemperamentInfo || isUserLogged"
        [temperaments]="character?.temperament"
        [isUserLogged]="isUserLogged"
        [form]="form"
        [editedKey]="editedKey"
        (saveEvent)="saveEvent.emit()"
        (editedKeyChange)="setEditedKey('temperament')"
    >
    </app-temperament-bars>
    <ng-container *ngIf="character?.colors || isUserLogged">
        <app-colors
            [isUserLogged]="isUserLogged"
            [colors]="character?.colors"
            [form]="form"
            (saveEvent)="saveEvent.emit()"
        >
        </app-colors>
    </ng-container>
</form>

<ng-template #editButtons let-key="key">
    <div class="icons-options">
        <app-edit-icon
            (clickedEvent)="setEditedKey(key)"
            *ngIf="editedKey !== key && isUserLogged"
        ></app-edit-icon>
        <ng-container *ngIf="editedKey === key && isUserLogged">
            <mat-icon
                class="option-icon option-icon--cancel"
                (click)="setEditedKey(null)"
                >cancel</mat-icon
            >
            <mat-icon
                class="option-icon option-icon--save"
                (click)="saveEvent.emit()"
                >save</mat-icon
            >
        </ng-container>
    </div>
</ng-template>
