<app-loader [visible]="!charList && loading"></app-loader>

<article class="admin-panel admin-panel--main">
  <div class="admin-panel-main__menu menu">
    <div class="menu__item item item--new-char" title="Dodaj nową postać" [routerLink]="['../change', 'new-character']">
      <app-icon [icon]="'new-character'" [color]="'white'" [size]="'3'"></app-icon>
    </div>

    <div class="menu__item item item--new-char" title="Edytuj tytuły historii" [routerLink]="['../change', 'story']">
      <app-icon [icon]="'story'" [color]="'white'" [size]="'3'"></app-icon>
    </div>

    <div class="menu__item item item--new-char" title="Dodaj/edytuj postaci"
      [routerLink]="['../change', 'relationships']">
      <app-icon [icon]="'branch'" [color]="'white'" [size]="'3'"></app-icon>
    </div>

    <div class="menu__item item" *ngFor="let character of charList">
      <div class="item__char-info char-info">
        <div title="Zmień stan postaci" (click)="changeStateOfChar(character.id)" class="change-state">
          <span [ngSwitch]="character.archived">
            <span *ngSwitchCase="true">
              <app-icon [icon]="'non-archive'" [color]="'#317142'"></app-icon>
            </span>
            <span *ngSwitchCase="false">
              <app-icon [icon]="'archive'" [color]="'#b84343'"></app-icon>
            </span>
          </span>
        </div>
        <div class="char-info__profile-pic profile-pic" *ngIf="character.profilePic">
          <img
            [src]="'data:image/'+  profilePicForSide?.extension + ';base64, ' + character.profilePic.image | sanitizer"
            class="profile-pic__image">
        </div>
        <div class="char-info__profile-pic profile-pic profile-pic--empty" *ngIf="!character.profilePic">
          <app-icon [icon]="'character'" [color]="'#0000007a'" [size]="3"></app-icon>
        </div>
        <span class="char-info__name">{{character.charName}} {{character.charSurname}}</span>
      </div>
      <div class="item__sidebar sidebar">
        <div class="sidebar__option" title="Edytuj postać" [routerLink]="['../change', 'edit-character']" [queryParams]="{
          id: character.id
        }">
          <app-icon [icon]="'edit'" [color]="'black'"></app-icon>
        </div>
        <div class="sidebar__option" title="Edytuj zdjęcia postaci" [routerLink]="['../change', 'edit-images']"
          [queryParams]="{
          id: character.id
        }">
          <app-icon [icon]="'edit-picture'" [color]="'black'"></app-icon>
        </div>
        <div class="sidebar__option" title="Dodaj historię do postaci" [routerLink]="['../change', 'story-for-char']"
          [queryParams]="{
        id: character.id
      }">
          <app-icon [icon]="'story'" [color]="'black'" [size]="'0.8'"></app-icon>
        </div>
        <div class="sidebar__option" title="Edytuj cytaty postaci" [routerLink]="['../change', 'quotes']" [queryParams]="{
      id: character.id
    }">
          <app-icon [icon]="'quote'" [color]="'black'" [size]="'0.7'"></app-icon>
        </div>

      </div>


    </div>

  </div>
</article>
