<app-loader [visible]="!character && loading"></app-loader>

<section class="characters-card" *ngIf="character && !loading">
  <div class="card" [ngStyle]="{'border-color': character.colors.themeColor2
}">
    <span class="card__name">
      {{character.charName}} {{ character.charSurname}}
    </span>

    <div class="card__profile-pic profile-pic">
      <ng-container *ngIf="character.imagesList.length > 0">
        <img *ngFor="let imageURL of character.imagesList;index as i" src="{{characterProfilePicURL}}/{{imageURL}}"
          class="profile-pic__image profile-pic__image--inactive" [ngClass]="{
						'profile-pic__image--active': i === currentImageIndex
          }">
        <div>

          <button class="profile-pic__button" *ngFor="let imageURL of character.imagesList; index as i"
            (click)="setImage(i)">{{imageURL | filenameModifier}}</button>
        </div>

      </ng-container>
      <div class="card__profile-pic--empty" *ngIf="character.imagesList.length === 0">
        Brak profilowego
      </div>
    </div>

    <div class="card__info info" [style.background]="'url(../../../../../assets/images/lowpoly-bg.JPG)'"
      [style.backgroundColor]="character.colors.themeColor2" [ngStyle]="{
      'background-blend-mode': 'multiply',
      'background-size': 'cover'
    }">
      <span class="info__desc">Data urodzenia</span>
      <span class="info__data">{{character.birthday ? (character.birthday | date:fullDate ) : "Data nieznana"}}</span>

      <ng-container *ngIf="character.death">
        <span class="info__desc">
          Śmierć:
        </span>
        <span class="info__data">
          {{character.death | date:fullDate}}
          <br />
          <span *ngIf="character.deathReason">
            ({{character.deathReason}})
          </span>
        </span>
      </ng-container>
      <ng-container *ngIf="character.occupation">
        <span class="info__desc">Zawód</span>
        <span class="info__data">{{character.occupation}}</span>
      </ng-container>

      <ng-container *ngIf="character.colors">
        <div class="info__color color">
          <span class="info__desc">Paleta kolorów</span>
          <div class="color__container">
            <span class="color__icon">
              <app-icon [icon]="'clothing'" [color]="'white'"></app-icon>
            </span>
            <div class="color__item" [ngStyle]="{'background': character.colors.themeColor1}"></div>
            <div class="color__item" [ngStyle]="{'background': character.colors.themeColor2}"></div>
            <div class="color__item" [ngStyle]="{'background': character.colors.themeColor3}"></div>
          </div>
          <div class="color__container">
            <span class="color__icon">
              <app-icon [icon]="'eye'" [color]="'white'"></app-icon>
            </span>
            <div class="color__item color__item--eye"
              [ngStyle]="{'background-image': 'linear-gradient(to left,'+ character.colors.eyeColor1 + ', ' + character.colors.eyeColor2}">
            </div>
          </div>
          <div class="color__container">
            <span class="color__icon">
              <app-icon [icon]="'face'" [color]="'white'"></app-icon>
            </span>
            <span class="color__icon">
            </span>
            <div class="color__item" [ngStyle]="{'background': character.colors.skinColor}"></div>
            <span class="color__icon">
              <app-icon [icon]="'hair'" [color]="'white'"></app-icon>
            </span>
            <div class="color__item" [ngStyle]="{'background': character.colors.hairColor}"></div>
          </div>

        </div>
      </ng-container>
      <ng-container *ngIf="character.temperament">
        <div class="info__temperament temperament">
          <span class="info__desc">Temperament</span>
          <div class="temperament__container">
            <span class="info__desc">Melancholik</span>
            <div appProgressBar [percentValue]="character.temperament.melancholic" temperamentType='melancholic'>
            </div>
          </div>
          <div class="temperament__container">
            <span class="info__desc">Sangwinik</span>
            <div appProgressBar [percentValue]="character.temperament.sanguine" temperamentType='sanguine'>
            </div>
          </div>
          <div class="temperament__container">
            <span class="info__desc">Flegmatyk</span>
            <div appProgressBar [percentValue]="character.temperament.flegmatic" temperamentType='flegmatic'>
            </div>
          </div>
          <div class="temperament__container">
            <span class="info__desc">Choleryk</span>
            <div appProgressBar [percentValue]="character.temperament.choleric" temperamentType='choleric'>
            </div>
          </div>
        </div>

      </ng-container>


    </div>
  </div>
  <div class="information">
    <div *ngIf="character.quote" class="information__quote quote">
      <blockquote>
        {{character.quote.quote}}
      </blockquote>
      <cite *ngIf="character.quote.context" class="quote__cite" [ngStyle]="{'color': character.colors.themeColor1}">~
        {{character.quote.context}}</cite>
    </div>
    <div class="information__story story">
      <ng-container *ngIf="character.story">
        <ng-container *ngFor="let story of character.story">
          <h2 class="story__title">{{story.title}}</h2>
          <div>
            {{story.story}}
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="character.story.length === 0">
        Brak znanej historii.
      </ng-container>
    </div>
    <table *ngIf="character.measurements" class="information__measurements measurements global-table">
      <tr class="global-table__row">
        <th class="global-table__header"></th>
        <th class="global-table__header">Niemowlę <br />(0-3)</th>
        <th class="global-table__header">Dziecko <br />(4-11)</th>
        <th class="global-table__header">Nastolatek <br />(12-19)</th>
        <th class="global-table__header">Dorosły <br />(20+)</th>
      </tr>
      <tr class="global-table__row">
        <th class="global-table__header">Wzrost</th>
        <td class="global-table__cell">{{character.measurements.babyHeight | nulled}} cm</td>
        <td class="global-table__cell">{{character.measurements.childHeight | nulled}} cm</td>
        <td class="global-table__cell">{{character.measurements.teenHeight | nulled}} cm</td>
        <td class="global-table__cell">{{character.measurements.adultHeight | nulled}} cm</td>
      </tr>
      <tr class="global-table__row">
        <th class="global-table__header">Waga</th>
        <td class="global-table__cell">{{character.measurements.babyWeight | nulled}} kg</td>
        <td class="global-table__cell">{{character.measurements.childWeight | nulled}} kg</td>
        <td class="global-table__cell">{{character.measurements.teenWeight | nulled}} kg</td>
        <td class="global-table__cell">{{character.measurements.adultWeight | nulled}} kg</td>
      </tr>
    </table>
  </div>
</section>
