<section class="characters-card global-section" *ngIf="character">
    <div class="state-buttons" *ngIf="isUserLogged">
        <button
            class="archive-button"
            (click)="changeStateOfChar()"
            [matTooltip]="
                (character.archived
                    ? 'CHARS_PANEL.UNARCHIVE'
                    : 'CHARS_PANEL.ARCHIVE'
                ) | translate
            "
        >
            <app-icon
                [icon]="character.archived ? 'eye-on' : 'eye-off'"
                [color]="'white'"
                [size]="0.8"
            ></app-icon>
        </button>

        <button
            [matTooltip]="'CHARS_PANEL.DELETE' | translate"
            (click)="insertDeleteInfo()"
            (dblclick)="deleteCharacter()"
        >
            <mat-icon class="close-icon delete-button">delete</mat-icon>
        </button>
    </div>

    <app-character-main-info
        [character]="character"
        [color]="themeColor1"
        [bgColor]="bgColor1"
        [bgColorSecond]="bgColor2"
        [isUserLogged]="isUserLogged"
        (infoHasChangedEvent)="changed()"
        [editedKey]="editedKey"
        [form]="form"
        (saveEvent)="saveCharacter()"
        (editedKeyChange)="patchForm($event)"
    >
    </app-character-main-info>

    <app-character-additional-info
        [character]="character"
        [isUserLogged]="isUserLogged"
        (infoHasChangedEvent)="changed()"
        [form]="form"
        (saveEvent)="saveCharacter()"
        (editedKeyChange)="patchForm($event)"
        [editedKey]="editedKey"
    >
    </app-character-additional-info>

    <app-char-information
        [character]="character"
        [color]="themeColor1"
        [preferences]="preferences"
        [bgColor]="bgColor1"
        [isUserLogged]="isUserLogged"
        (infoHasChangedEvent)="changed()"
        [form]="form"
    >
    </app-char-information>
</section>
