@import 'variables';

.characters-card {
    display: flex;
}

.legend {
    display: flex;
    flex-direction: column;

    padding: 0.5rem;

    background: $card-bg;
}

.state-buttons {
    position: absolute;

    display: flex;
    align-items: center;

    margin-left: 22rem;
    margin-top: 1rem;
}

.archive-button {
    margin-right: 1rem;
    transition: 0.3s;

    &::ng-deep svg {
        transition: 0.3s;

        fill: $accent;
    }

    &:hover {
        &::ng-deep svg {
            fill: white;
        }
    }
}

.delete-button {
    font-size: 1.5rem;

    &--disabled {
        pointer-events: none;
        opacity: 0.3;
    }
}

.info-container {
    height: calc(100vh - #{$navbar-height});
    width: 35vw;
}

.character-infos {
    display: flex;

    height: 60%;
}
