@import 'variables';

.characters-card {
    display: flex;

    position: fixed;
    width: 100vw;
    height: 100%;
}

.legend {
    display: flex;
    flex-direction: column;

    padding: 0.5rem;

    background: $card-bg;
}

.state-buttons {
    position: absolute;

    display: flex;
    align-items: center;

    margin-left: 16rem;
    margin-top: 1rem;
}

.archive-button {
    margin-left: 0.5rem;
    transition: 0.3s;

    &::ng-deep svg {
        transition: 0.3s;

        fill: $accent;
    }

    &:hover {
        &::ng-deep svg {
            fill: white;
        }
    }
}
