<section class="characters-card" *ngIf="character">
    <app-character-main-info
        [character]="character"
        [color]="themeColor1"
        [bgColor]="bgColor1"
        [bgColorSecond]="bgColor2"
        [isUserLogged]="isUserLogged"
        (infoHasChangedEvent)="changed()"
        [(editedKey)]="editedKey"
    >
    </app-character-main-info>

    {{ editedKey | json }}

    <app-character-additional-info
        [character]="character"
        [isUserLogged]="isUserLogged"
        (infoHasChangedEvent)="changed()"
    >
    </app-character-additional-info>
    <button
        (click)="isUserLogged = !isUserLogged"
        style="margin-top: 1rem; background: red; position: absolute"
    >
        {{ isUserLogged }}
    </button>
    <app-char-information
        [character]="character"
        [color]="themeColor1"
        [preferences]="preferences"
        [bgColor]="bgColor1"
        [isUserLogged]="isUserLogged"
        (infoHasChangedEvent)="changed()"
    >
    </app-char-information>
</section>
