@import 'variables';

.chapter {
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - #{$navbar-height});
}

.image-container {
    display: flex;
    align-items: center;
}

.image {
    max-height: calc(100vh - #{$navbar-height});
    object-fit: scale-down;

    max-width: 50vw;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    &--inactive {
        display: none;
    }

    &--active {
        display: block;
        border: 3px solid black;
    }
}
