<div class="chapter" [ngStyle]="{'background': bgColor}">
  <ng-container *ngIf="pagesNumber?.length > 0">
    <button mat-mini-fab (click)="setImage(currentImageIndex-1)" [disabled]="currentImageIndex === 0"
      [ngStyle]="{'background': bookColor}">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div *ngFor="let pageId of pagesNumber; index as i;" class="image-container">
      <img src="{{pageURL}}/{{chapterId}}/{{i}}" class="image image--inactive" [ngClass]="{
      'image--active': i === currentImageIndex
    }" />
    </div>
    <button mat-mini-fab (click)="setImage(currentImageIndex+1)" [disabled]="currentImageIndex === pages?.length - 1"
      [ngStyle]="{'background': bookColor}">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </ng-container>
  <div *ngIf="pagesNumber?.length === 0">
    Brak stron w tej części.
  </div>
</div>
