<nav>
  <ul class="navbar">
    <li class="navbar__item navbar__item--title">AIE</li>
    <li class="navbar__item">
      <a [routerLink]="['/main']">
        strona główna
      </a>
    </li>
    <li class="navbar__item">
      <a [routerLink]="['/char-cards']">
        postacie główne
      </a>
    </li>
    <li class="navbar__item">
      <a [routerLink]="['/side-characters']">
        postacie poboczne
      </a></li>
    <li class="navbar__item">
      <a [routerLink]="['/pages']">
        historia
      </a>
    </li>
  </ul>
</nav>
