@import "../../../../../global_styles/variables.scss";

$gradient1: #420730;
$gradient2: #435548;

$search-box-height: 3rem;
$search-box-bg: #1d1d1d;

.side-character {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  min-height: calc(100vh - #{$navbar-height} - #{$search-box-height});

  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQoU2NkYGAwZmBgOMuAACA+CKCIMSIpADGRNaEYgKwQ3WQUjTCF6CYhWw2WAynEpgjmIpg7jUlSiM0TWK2GWUOUZ7ApxggeogIcABHJFtftKVfJAAAAAElFTkSuQmCC"),
    linear-gradient(to bottom, $gradient1 0%, $gradient2 100%);
  background-blend-mode: multiply;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 100%;

    padding: 0 0 1rem 0;
    margin: 0.5rem;
    border: 1px solid white;
    border-radius: 3px;

    background: #1d1d1da8;

    word-break: break-word;
  }
}

.profile-pic {
  height: 100px;
  width: 100px;

  &__image {
    width: 100px;
    height: 100px;
    object-fit: scale-down;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &--empty {
    padding-left: 2rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
  }
}

.info {
  display: flex;
  flex-direction: column;

  width: 21.875rem;

  box-sizing: border-box;
  padding: 1rem;

  &__name {
    margin-bottom: 1rem;

    font-size: 0.8rem;
  }

  &__desc {
    padding: 1rem;
    border-radius: 3px;

    line-height: 1.3;

    height: 6.25rem;
    overflow-y: scroll;

    background: whitesmoke;
    color: black;
  }
}

.books {
  display: flex;
  justify-content: left;

  width: 100%;
  height: 100%;
  &__item {
    padding: 0.5rem;
  }
}

.search-box {
  display: flex;

  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  background: $search-box-bg;

  height: $search-box-height;

  &__item {
    margin: 0 0.1rem;
  }

  &__form {
    display: contents;
  }
}

$search-books-width: 11rem;

.search-books {
  &__details {
    width: $search-books-width;

    transition: 0.2s;
  }
  &__content {
    z-index: map-get($z-index, search-book);

    position: absolute;

    width: $search-books-width;
    max-height: 100px;

    overflow: scroll;
    background: $search-box-bg;
  }
}

.box {
  &__relations {
    display: flex;
  }
}

.relations-box {
  width: 12.5rem;
  padding: 0.5rem;
  border-radius: 3px;

  background: #ffffff38;

  &__list {
    padding: 0;
  }
}

.relations-list {
  max-height: 6.25rem;
  overflow-y: scroll;

  &__item {
    margin: 1rem 0;
  }

  &__link {
    transition: 0.3s;
    &:hover {
      color: rgb(255, 132, 218);

      padding-left: 1rem;
    }
  }
}
