.side-character {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  height: 100%;

  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQoU2NkYGAwZmBgOMuAACA+CKCIMSIpADGRNaEYgKwQ3WQUjTCF6CYhWw2WAynEpgjmIpg7jUlSiM0TWK2GWUOUZ7ApxggeogIcABHJFtftKVfJAAAAAElFTkSuQmCC"),
    linear-gradient(to bottom, #2c3e50 0%, #2c3e50 33%, #fd746c 100%);
  background-blend-mode: multiply;

  &__box {
    display: flex;

    width: 500px;

    padding: 1rem;
    margin: 0.5rem;
    border: 1px solid white;

    background: #1d1d1da8;
  }
}

.profile-pic {
  height: 100px;
  width: 100px;
  &--empty {
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
  }
  &__image {
    width: 100px;
    height: 100px;
    object-fit: scale-down;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.info {
  display: flex;
  flex-direction: column;

  width: 350px;

  box-sizing: border-box;
  padding: 1rem;

  &__name {
    margin-bottom: 1rem;

    font-size: 0.8rem;
  }
}
