<app-loader [visible]="!sideCharacters && loading"></app-loader>

<article class="side-character" *ngIf="sideCharacters && !loading">
  <div class="side-character__box box" *ngFor="let sideCharacter of sideCharacters">
    <div class="box__books books" *ngIf="sideCharacter.books">
      <ng-container *ngFor="let book of sideCharacter.books">

        <div class="books__item">
          <app-icon [icon]="'book'" [color]="book.color" [size]="1"></app-icon>
        </div>
      </ng-container>
    </div>
    <div style="display: flex;">
      <div class="box__profile-pic profile-pic" *ngIf="sideCharacter.profilePic">
        <img class="profile-pic__image"
          src="{{profilePicURL}}/{{sideCharacter.externalId}}/{{sideCharacter.profilePic}}">
      </div>
      <div class="box__profile-pic profile-pic profile-pic--empty" *ngIf="!sideCharacter.profilePic">
        <app-icon [icon]="'character'" [color]="'#ffffffa8'" [size]="3"></app-icon>
      </div>
      <div class="box__info info">
        <span class="info__name">
          {{sideCharacter.sideCharacterName | nulled}} {{sideCharacter.sideCharacterSurname | nulled}}
        </span>
        <span class="info__desc">{{sideCharacter.sideCharacterDesc | nulled}}</span>
      </div>
    </div>
  </div>
</article>
