<app-loader [visible]="!sideCharacters && loading"></app-loader>

<article class="side-character" *ngIf="sideCharacters && !loading">
  <div class="side-character__box box" *ngFor="let sideCharacter of sideCharacters; index as i">
    <div class="box__profile-pic profile-pic" *ngIf="sideCharacter.profilePic">
      <img class="profile-pic__image" src="{{profilePicURL}}/{{i + 1}}/{{sideCharacter.profilePic}}">
    </div>
    <div class="box__info info">
      <span class="info__name">
        {{sideCharacter.sideCharacterName | nulled}} {{sideCharacter.sideCharacterSurname | nulled}}
      </span>
      <span class="info__desc">{{sideCharacter.sideCharacterDesc | nulled}}</span>
    </div>
  </div>
</article>
