<app-loader [visible]="!sideCharacters && loading"></app-loader>

<aside class="search-box">
  <form #searchForm="ngForm" class="search-box__form">

    <div class="search-box__item">
      Znajdź postać po nazwie:
      <input type="text" class="global-input" ngModel name="name" (input)="search(searchForm)">
    </div>

    <div *ngIf="books?.length > 0" class="search-box__item search-box__item--books search-books">
      <details class="search-books__details">
        <summary>Znajdź postać po szkicowniku:</summary>
        <div class="search-books__content">
          <div *ngFor="let book of books">
            <input type="checkbox" class="global-input" ngModel="true" name="book__{{book.externalId}}"
              (change)="search(searchForm)">
            <app-icon [icon]="'book'" [color]="book.color" [size]="1"></app-icon>
            {{book.name}}
          </div>
        </div>
      </details>
    </div>

    <div *ngIf="characters?.length > 0" class="search-box__item">
      Znajdź postać po pokrewieństwie do:
      <select class="global-select" ngModel name="relationTo" (change)="search(searchForm)">
        <option value="0">-----</option>
        <option *ngFor="let character of characters" [value]="character.id">
          {{character.charName}}
          {{character.charSurname}}</option>
      </select>

    </div>
  </form>

</aside>

<article class="side-character" *ngIf="sideCharacters?.length > 0 && !loading">
  <div class="side-character__box box" *ngFor="let sideCharacter of sideCharacters">
    <div class="box__books books">
      <ng-container *ngFor="let book of sideCharacter.books">
        <div class="books__item" [title]="book.name">
          <app-icon [icon]="'book'" [color]="book.color" [size]="1"></app-icon>
        </div>
      </ng-container>
    </div>
    <div style="display: flex;">
      <div class="box__profile-pic profile-pic" *ngIf="sideCharacter.profilePic">
        <img class="profile-pic__image"
          [src]="'data:image/' + sideCharacter.profilePic?.extension + ';base64, ' + sideCharacter.profilePic.image | sanitizer">
      </div>
      <div class="box__profile-pic profile-pic profile-pic--empty" *ngIf="!sideCharacter.profilePic">
        <app-icon [icon]="'character'" [color]="'#ffffffa8'" [size]="3"></app-icon>
      </div>
      <div class="box__info info">
        <span class="info__name">
          {{sideCharacter.sideCharacterName | nulled}} {{sideCharacter.sideCharacterSurname | nulled}}
        </span>
        <span class="info__desc">{{sideCharacter.sideCharacterDesc | nulled}}</span>
      </div>
    </div>
    <div class="box__relations">
      <app-icon [icon]="'branch'" [size]="0.8" [color]="'grey'"></app-icon>
      <details *ngIf="sideCharacter.relationships?.length > 0" class="relations-box">
        <summary>Rozwiń relacje ({{sideCharacter.relationships.length}}):</summary>
        <ul class="relations-box__list relations-list">
          <li *ngFor="let relation of sideCharacter.relationships" class="relations-list__item">
            <a [routerLink]="['/char-cards', relation.relativeId]" class="relations-list__link"
              title="Przejdź do postaci">
              {{relation.relativeName}} {{relation.relativeSurname}}</a>
            ( {{relation.relation}} )
          </li>
        </ul>
      </details>
      <div *ngIf="sideCharacter.relationships?.length <= 0">
        Brak znanych relacji rodzinnych.
      </div>
    </div>
  </div>
</article>


<div class="side-character" *ngIf="sideCharacters?.length === 0  && !loading">
  Brak postaci pobocznych.
</div>
