@import 'variables';

.tags-edit-panel {
    margin-left: 4rem;
    margin-top: 4rem;
    &__title {
        margin: 1rem;

        font-weight: 600;
        font-size: -webkit-xxx-large;
    }
}

.tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tag {
    &:first-child {
        margin: 0;
    }
    margin: 0.2rem 0.5rem;
}

.add-icon {
    margin-left: 1rem;
}
