@import 'variables';

.chapters-sidenav {
    display: flex;
    flex-direction: column;

    height: calc(100vh - #{$navbar-height});
    width: 15rem;

    background: $chars-list-bg;

    &__back {
        display: block;
        padding: 1rem;
    }
}

.chapters-content {
    height: calc(100vh - #{$navbar-height});
}
.book-name {
    font-size: larger;
    margin-left: 2rem;
}

.chapter-list {
    &__item {
        display: block;

        white-space: nowrap;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;

        color: white;
        font-weight: normal;
        font-size: 0.75rem;

        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
    }
}

.ellipsis {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-icon {
    display: flex;

    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
