<mat-sidenav-container>
  <mat-sidenav mode="side" opened [ngStyle]="{'background': book?.color, 'color': fontColor}">
    <div class="chapters-sidenav">
      <span>
        Wybrany szkicownik:
        <h2 class="book-name">{{book?.name}}</h2>
      </span>

      <button mat-stroked-button [ngStyle]="{'background': book?.color}" [routerLink]="['../']">
        <mat-icon>keyboard_backspace</mat-icon>
        Powrót
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>