<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <div class="chapters-sidenav">
            <div class="chapters-sidenav__back">
                <mat-icon class="option-icon" [routerLink]="['../']"
                    >subdirectory_arrow_left</mat-icon
                >
            </div>

            <div class="book-icon">
                <app-book-icon [book]="book" [size]="3"></app-book-icon>
                <h2 class="book-name">{{ book?.name }}</h2>
            </div>

            <div>
                <div *ngIf="chapters.length > 0" class="chapter-list">
                    <ng-container *ngFor="let chapter of chapters; index as i">
                        <a
                            #rla="routerLinkActive"
                            class="chapter-list__item ellipsis"
                            routerLinkActive="chapter-list__item--active"
                            [routerLink]="['./pages']"
                            [queryParams]="{
                                id: bookId,
                                chapterId: chapter.id,
                                color: book?.color
                            }"
                            [ngStyle]="
                                rla.isActive
                                    ? { color: bookColor }
                                    : { color: '#ffffff66' }
                            "
                            *ngIf="chapter.visible"
                        >
                            <div class="ellipsis">
                                {{ i + 1 }}. {{ chapter.name }}
                            </div>
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="chapters-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
