@import 'variables';

.chapters-sidenav {
    display: flex;
    flex-direction: column;

    height: calc(100vh - #{$navbar-height});
    width: 15rem;

    background: $chars-list-bg;
}

.chapters-content {
    height: calc(100vh - #{$navbar-height});
}
.book-name {
    font-size: larger;
    margin-left: 2rem;
}

.chapter-list {
    &__item {
        white-space: nowrap !important;
        width: 200px !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;

        &--active {
            background: rgba(255, 255, 255, 0.4);
        }
    }
}

.ellipsis {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-icon {
    display: flex;

    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
