@import "../../../../../../../../global_styles/variables.scss";

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.profile-pic {
  background: darkslategrey;
  @include profile-pic;
  margin-right: 1rem;

  height: 2rem;
  width: 2rem;
}

.chosen-char {
  display: flex;
  justify-content: center;
  align-items: center;
}
