@import "../../../../../global_styles/variables.scss";

.main {
  background: black;
  &__bg {
    display: flex;
    position: fixed;
    overflow: hidden;
    max-height: 100vh;
    min-height: 100vh;
  }
}

.bg {
  &__desc {
    @include font-special;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    left: 50%;
    right: 0;
    top: 50%;
    bottom: 0;

    transform: translate(-50%, -50%);
    margin: auto;

    font-size: 3rem;
    color: white;
    font-weight: bolder;

    text-shadow: -1px 1px 7px white;
  }
}
