@import "../../../../../global_styles/variables.scss";

.main {
  background: black;
  &__bg {
    display: flex;
    height: 100vh;
    width: 100vh;
  }
}

.bg {
  background-image: url("../../../../../assets/images/bg.jpg");

  object-fit: scale-down;

  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;

  &__desc {
    @include font-special;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;

    font-size: 3rem;
    color: white;
    font-weight: bolder;

    text-shadow: -1px 1px 7px white;
  }
}
