.characters-menu {
  display: flex;
  flex-direction: column;
  justify-content: left;

  width: 250px;

  overflow-y: scroll;

  &__item {
    border-bottom: 1px rgb(58, 58, 58) solid;
    padding: 0.5rem;
  }
}
