@import 'variables';

.temperaments {
    margin-top: 2rem;
}

.temperament {
    padding-top: 0.5rem;

    &__container {
        margin: 0.2rem;
        margin-top: -0.5rem;

        display: flex;
        align-items: center;

        justify-content: space-between;
    }
}

.info {
    font-size: 0.7rem;

    &__desc {
        font-weight: bold;
        text-transform: uppercase;
        color: $accent;

        margin-bottom: 1rem;

        width: 0;

        color: var(--theme-color);
        margin-bottom: 2rem;
    }
}

.save-icon {
    font-size: 0.9rem;

    transition: 0.3s;
    cursor: pointer;
    color: $accent;

    &:hover {
        color: rgb(197, 250, 179);
    }
}

.save-icon-container {
    display: flex;
    height: 0;
    margin-right: 0.5rem;
}

.temperament-range {
    height: 28px;
}

.form-container {
    display: flex;
    align-items: center;
    height: 1rem;
}

.temperament-meter {
    width: 70%;

    &::-webkit-meter-optimum-value {
        background: var(--theme-color);
    }

    &::-webkit-meter-bar {
        background: black;
    }
}
