<h1 mat-dialog-title>

  <mat-form-field class="story-form__input">
    <mat-label>Tytuł</mat-label>
    <input matInput required maxlength="255" placeholder="Tytuł do historii" spellcheck="false"
      [(ngModel)]="data.title">
  </mat-form-field>

</h1>
<div mat-dialog-content class="story-form" style="width: 100%">
  <mat-form-field class="story-form__input story-form__input--edit">
    <mat-label>Opis</mat-label>
    <textarea matInput required maxlength="2000" [(ngModel)]="data.desc" spellcheck="false"></textarea>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Powrót</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="data" cdkFocusInitial>Edytuj</button>
</div>
