<table class="measurements-table" *ngIf="measurements" [formGroup]="form">
    <tr>
        <ng-container *ngFor="let key of Object.keys(measurements)">
            <th
                *ngIf="!!measurements[key].height && !!measurements[key].weight"
            >
                {{ 'CHARACTER_CARD.' + key | translate }}
            </th>
        </ng-container>
    </tr>
    <tr>
        <ng-container *ngFor="let key of Object.keys(measurements)">
            <td
                *ngIf="!!measurements[key].height && !!measurements[key].weight"
            >
                <mat-form-field class="measurements-form-field">
                    <input
                        class="measurements-input"
                        matInput
                        type="number"
                        min="0"
                        max="200"
                        (change)="inputChange()"
                        [formControlName]="key + 'Height'"
                    />
                </mat-form-field>
                cm
            </td>
        </ng-container>
    </tr>
    <tr>
        <ng-container *ngFor="let key of Object.keys(measurements)">
            <td
                *ngIf="!!measurements[key].height && !!measurements[key].weight"
            >
                <mat-form-field class="measurements-form-field">
                    <input
                        class="measurements-input"
                        matInput
                        type="number"
                        min="0"
                        max="200"
                        (change)="inputChange()"
                        [formControlName]="key + 'Weight'"
                    />
                </mat-form-field>
                kg
            </td>
        </ng-container>
    </tr>
    <tr>
        <ng-container *ngFor="let key of Object.keys(measurements)">
            <td
                [ngStyle]="{ color: getColorForBmi(measurements[key].bmi) }"
                *ngIf="measurements[key].bmi > 0"
            >
                📈 BMI: {{ measurements[key].bmi }}
                {{ getNameForBmi(measurements[key].bmi) }}
            </td>
        </ng-container>
    </tr>
</table>
