@import 'variables';

.measurements {
    margin-top: auto;

    &-table-cell {
        text-align: center;
        color: var(--theme-color);
    }
}

.measurements-form-field {
    width: 3rem;
    text-align: center;
}

.measurements-table {
    border-collapse: collapse;
    width: 100%;
    background: $dark-bg-component-color;
}

td,
th {
    border: 1px solid whitesmoke;

    text-align: center;

    width: 25%;
    padding: 8px;
    color: var(--theme-color);

    white-space: pre-wrap;
    vertical-align: baseline;
    font-size: 1rem;
}
