@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent: mat-palette($mat-blue-grey, A200, A100, A400);
$my-app-theme: mat-dark-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);

@import './global_styles/reset.scss';
@import './global_styles/variables.scss';
@import './global_styles/scrollbar.scss';
@import './global_styles/table.scss';
@import './global_styles/admin-panel.scss';
@import '~ngx-toastr/toastr.css';

@import './fonts.scss';

body {
    font-size: 62.5%;
    background: $chars-list-bg;

    color: whitesmoke;
}

button {
    font-family: inherit;
}

::-webkit-resizer {
    background: url('./assets/images/arrows.svg');
    background-size: 100%;
}

a {
    color: whitesmoke;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

* {
    font-family: 'Courier New', Courier, monospace;
}
