@import "./global_styles/reset.scss";
@import "./global_styles/variables.scss";
@import "./global_styles/scrollbar.scss";

@import "./fonts.scss";

body {
  font-size: 62.5%;
  background: #1d1d1d;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  color: whitesmoke;
}

button {
  font-family: inherit;
}

.global-section {
  height: calc(100vh - #{$navbar-height});
}

.global-progress-bar {
  height: 100%;
  width: 100px;

  margin: 0 1rem;
  border: 1px white solid;

  background-color: #1d1d1d;

  &__color {
    height: 10px;
    text-align: center;

    &--melancholic {
      background-image: linear-gradient(to right, #3a6186 0%, #89253e 100%);
    }
    &--sanguine {
      background-image: linear-gradient(to right, #5614b0 0%, #dbd65c 100%);
    }
    &--flegmatic {
      background-image: linear-gradient(to right, #5a3f37 0%, #2c7744 100%);
    }
    &--choleric {
      background-image: linear-gradient(to right, #ff5f6d 0%, #ffc371 100%);
    }
  }
  &__value {
    position: absolute;
  }
}
