@import "../../../../../global_styles/variables.scss";

.svg {
  fill: initial;

  &__path {
    &--biohazard {
      transform: scale(2) translate(-10px, 1px);
    }

    &--panther {
      transform: scale(3) translate(-10px, 1px);
    }
  }
}

.text {
  font-weight: bolder;
  font-size: 0.6rem;
}
