<app-loader [visible]="!sideChars && loading"></app-loader>


<article *ngIf="sideChars" class="admin-panel admin-panel--side">

  <div class="admin-panel-side__menu menu">
    <div class="menu__item item item--new-char" title="Dodaj nową postać poboczną"
      [routerLink]="['../change', 'new-chars']">
      <app-icon [icon]="'new-chars'" [color]="'white'" [size]="'4'"></app-icon>
    </div>

    <div class=" menu__item item" *ngFor="let character of sideChars">
      <div class="item__char-info char-info">
        <div class="change-state" title="Zmień stan postaci" (click)="changeStateOfChar(character.externalId)">
          <span [ngSwitch]="character.archived">
            <span *ngSwitchCase="true">
              <app-icon [icon]="'non-archive'" [color]="'#317142'"></app-icon>
            </span>
            <span *ngSwitchCase="false">
              <app-icon [icon]="'archive'" [color]="'#b84343'"></app-icon>
            </span>
          </span>

        </div>
        <div class="char-info__profile-pic profile-pic" *ngIf="character.profilePic">
          <img
            [src]="'data:image/' + character.profilePic?.extension + ';base64, ' + character.profilePic.image | sanitizer"
            class="profile-pic__image">
        </div>
        <div class="char-info__profile-pic profile-pic profile-pic--empty" *ngIf="!character.profilePic">
          <app-icon [icon]="'character'" [color]="'#0000007a'" [size]="3"></app-icon>
        </div>
        <span class="char-info__name">{{character.sideCharacterName}}
          {{character.sideCharacterSurname}}</span>
      </div>
      <div class="item__sidebar sidebar">
        <div class="sidebar__option" title="Edytuj postać" [routerLink]="['../change', 'edit-side']" [queryParams]="{
            id: character.externalId
          }">
          <app-icon [icon]="'edit'" [color]="'black'"></app-icon>
        </div>
        <div class="sidebar__option" title="Zmień profilowe postaci" [routerLink]="['../change', 'edit-side-pic']"
          [queryParams]="{
          id: character.externalId
        }">
          <app-icon [icon]="'edit-picture'" [color]="'black'"></app-icon>
        </div>
        <div class="sidebar__option" title="Edytuj relacje postaci" [routerLink]="['../change', 'relations']"
          [queryParams]="{
          id: character.externalId
        }">
          <app-icon [icon]="'branch'" [color]="'black'"></app-icon>

        </div>
      </div>
    </div>


  </div>

</article>
