<mat-expansion-panel
    (opened)="expandRelations = true"
    (closed)="expandRelations = false"
    class="relations"
    [expanded]="expandRelations"
    [togglePosition]="'before'"
>
    <mat-expansion-panel-header style="height: 1rem">
    </mat-expansion-panel-header>

    <div class="relations" *ngIf="relations && relations.length > 0">
        <form
            *ngFor="let relation of relations; index as i"
            class="relation"
            [ngStyle]="{ background: themeColor1 }"
        >
            <div class="relationship-form__box form-box">
                <div class="character-in-relation">
                    <app-profile-pic
                        [charId]="charId"
                        [height]="'50px'"
                        [isCircle]="true"
                        [profilePic]="relation.relatedCharacter.profilePic"
                    >
                    </app-profile-pic>
                    <div class="character-in-relation__name">
                        {{ relation.relatedCharacter.charName }}
                    </div>
                </div>
            </div>
            <div class="relationship-form__box form-box">
                <span class="form-box__title">
                    {{ 'EDIT_RELATIONS.RELATION_TYPE_TITLE' | translate }}
                </span>
            </div>
        </form>
        <span *ngIf="relations.length === 0">
            {{ 'EDIT_RELATIONS.NO_RELATIONS_MSG' | translate }}
        </span>
    </div>
    <mat-icon class="basic-icon basic-icon--expand add-icon">add</mat-icon>
</mat-expansion-panel>

<!-- <div
    class="new-relation-add"
    *ngIf="isUserLogged && moreQuotes && moreQuotes.length === 0"
    style="width: 2.5rem"
>
    <mat-icon
        *ngIf="isUserLogged"
        class="basic-icon basic-icon--expand add-icon"
        (click)="addNewQuote(); expandRelations = true"
        >add</mat-icon
    >
</div> -->
