@import 'variables';

.temperaments {
    width: 90%;

    margin-top: 1rem;
}

.temperament {
    padding-top: 0.5rem;

    &__container {
        margin-top: 0.4rem;

        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

.info {
    font-size: 0.7rem;
    background: #1d1d1d;
    padding-top: 0.5rem;

    &__desc {
        font-weight: bold;
        font-size: smaller;
        text-transform: uppercase;
        color: $accent;

        width: 69px;
    }

    &__data {
        margin-left: 0.5rem;

        &--death {
            color: rgb(124, 52, 52);
        }
    }
}
