<mat-sidenav-container>
    <mat-sidenav mode="side" opened class="sidenav">
        <div *ngIf="selectedCharacter" class="sidenav">
            <h2 class="char-name">{{ selectedCharacter.fullName }}</h2>

            <div *ngIf="selectedCharacter.profilePic">
                <img
                    [src]="selectedCharacter.profilePic | sanitizer"
                    class="profile-pic"
                />
            </div>

            <ul class="options-container">
                <li class="option">
                    <button
                        mat-stroked-button
                        color="accent"
                        [routerLink]="['./character-modify/edit']"
                        [queryParams]="{
                            id: charId
                        }"
                        class="button"
                    >
                        <mat-icon>edit</mat-icon>
                        {{ 'CHARS_PANEL.EDIT_CHAR' | translate }}
                    </button>
                </li>

                <li class="option">
                    <button
                        mat-stroked-button
                        class="sidebar__option"
                        [routerLink]="['./character-preferences']"
                        [queryParams]="{
                            id: charId
                        }"
                    >
                        <mat-icon>favorite</mat-icon>
                        {{ 'CHARS_PANEL.EDIT_PREFERENCES' | translate }}
                    </button>
                </li>
            </ul>
            <button
                mat-stroked-button
                color="accent"
                [routerLink]="['../']"
                class="button"
            >
                <mat-icon>keyboard_backspace</mat-icon>
                {{ 'SHARED.PREVIOUS' | translate }}
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
