<article class="admin-panel">
  <ul class="admin-panel__options">
    <li class="option">
      <span class="option__icon">
        <app-icon [icon]="'new-character'" [color]="'white'"></app-icon>
      </span>
      dodaj postać główną
    </li>
    <li class="option">
      <span class="option__icon">
        <app-icon [icon]="'edit-character'" [color]="'white'"></app-icon>
      </span>
      edytuj postać główną
    </li>
    <li class="option">
      <span class="option__icon">
        <app-icon [icon]="'delete-character'" [color]="'white'"></app-icon>
      </span>
      usuń postać główną
    </li>


    <li class="option">
      <span class="option__icon">
        <app-icon [icon]="'new-chars'" [color]="'white'"></app-icon>
      </span>
      dodaj nową postać poboczną
    </li>
    <li class="option">
      <span class="option__icon">
        <app-icon [icon]="'edit-chars'" [color]="'white'"></app-icon>
      </span>
      edytuj postać poboczną
    </li>
    <li class="option">
      <span class="option__icon">
        <app-icon [icon]="'delete-chars'" [color]="'white'"></app-icon>
      </span>
      usuń postać poboczną
    </li>
  </ul>
</article>
