@import "../../../../../global_styles/variables.scss";

.admin-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - #{$navbar-height});
}

.admin-panel__options {
  display: flex;
}

.option {
  display: flex;
  flex-direction: column;

  width: 20%;

  padding: 2rem;

  &__desc {
    margin: 2rem 0 -2rem -2rem;
  }
}
