@import "../../../../../../global_styles/variables.scss";

.gender-chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gender-chart-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: $card-bg;
}
