<article class="char-menu" *ngIf="charList && !!charList">
    <form [formGroup]="searchForm" class="search-form">
        <a [routerLink]="['/char-cards', 0]" *appIfLoggedUser>
            <mat-icon class="create-new-character">person_add</mat-icon>
        </a>

        <span class="search-form__form-field">
            <mat-icon>search</mat-icon>
            <mat-form-field>
                <mat-label>{{
                    'CHARS_PANEL.SEARCH_CHAR' | translate
                }}</mat-label>
                <input
                    matInput
                    formControlName="char"
                    (input)="searchCharacter()"
                />
            </mat-form-field>
        </span>

        <div class="buttons-container">
            <button
                [ngStyle]="{ color: isMain ? 'white' : 'grey' }"
                (click)="
                    isMain ? (isMain = false) : (isMain = true);
                    searchCharacter()
                "
                class="char-type-button"
            >
                <div class="char-type-button__container">
                    <span class="char-symbol char-symbol--MAIN"></span>
                    {{ 'enum.charType.MAIN' | translate }}
                </div>
            </button>

            <button
                [ngStyle]="{ color: isSide ? 'white' : 'grey' }"
                (click)="
                    isSide ? (isSide = false) : (isSide = true);
                    searchCharacter()
                "
                class="char-type-button"
            >
                <div class="char-type-button__container">
                    <span class="char-symbol char-symbol--SIDE"> </span>
                    {{ 'enum.charType.SIDE' | translate }}
                </div>
            </button>

            <button
                [ngStyle]="{ color: isBackground ? 'white' : 'grey' }"
                (click)="
                    isBackground
                        ? (isBackground = false)
                        : (isBackground = true);
                    searchCharacter()
                "
                class="char-type-button"
            >
                <div class="char-type-button__container">
                    <span class="char-symbol char-symbol--BACKGROUND"> </span>

                    {{ 'enum.charType.BACKGROUND' | translate }}
                </div>
            </button>

            <button
                [ngStyle]="{ color: isPet ? 'white' : 'grey' }"
                (click)="
                    isPet ? (isPet = false) : (isPet = true); searchCharacter()
                "
                class="char-type-button"
            >
                <div class="char-type-button__container">
                    <span class="char-symbol char-symbol--PET"> </span>

                    {{ 'enum.charType.PET' | translate }}
                </div>
            </button>
        </div>

        <div class="tags">
            <app-tag
                class="tag"
                [ngClass]="{ 'tag--disabled': !chosenTags.includes(tag) }"
                [tagData]="tag"
                *ngFor="let tag of tags"
                (click)="setTagFilter(tag)"
            ></app-tag>
        </div>
    </form>

    <div class="characters">
        <div class="characters__list">
            <a
                *ngFor="let character of filteredChars; index as i"
                class="character"
                [routerLink]="['/char-cards', character.id]"
                routerLinkActive="router-link-active"
                [ngClass]="{ 'character--archived': character.archived }"
            >
                <div>
                    <div
                        *ngIf="character.hasBirthdayToday"
                        [matTooltip]="
                            character.birthdayDate | date: 'dd/MM/yyyy'
                        "
                        class="birthday-cake"
                    >
                        🎂
                    </div>
                    <app-profile-pic
                        [charId]="character.externalId"
                        [profilePic]="character.profilePic"
                    ></app-profile-pic>
                </div>

                <span class="character__name">
                    <div class="name">
                        <div class="name-symbol-container">
                            <span
                                [class]="
                                    'char-symbol char-symbol--' +
                                    character.characterType
                                "
                            >
                            </span>

                            <div class="name__name">
                                {{ character.fullName }}
                            </div>
                        </div>
                        <div class="name__pseudonym">
                            {{ character.pseudonym }}
                        </div>
                    </div>
                </span>
            </a>
        </div>

        <div *ngIf="filteredChars.length === 0" class="empty-list">
            {{ 'CHARS_PANEL.NO_CHARACTERS' | translate }}
        </div>
    </div>
</article>
