<article class="char-menu" *ngIf="charList && !!charList">
    <form [formGroup]="searchForm" class="search-form">
        <a [routerLink]="['/char-cards', 0]">
            <mat-icon class="create-new-character">person_add</mat-icon>
        </a>

        <span class="search-form__form-field">
            <mat-icon>search</mat-icon>
            <mat-form-field>
                <mat-label>{{
                    'CHARS_PANEL.SEARCH_CHAR' | translate
                }}</mat-label>
                <input
                    matInput
                    formControlName="char"
                    (input)="searchCharacter()"
                />
            </mat-form-field>
        </span>

        <button
            mat-raised-button
            [color]="isMain ? 'accent' : 'basic'"
            (click)="
                isMain ? (isMain = false) : (isMain = true); searchCharacter()
            "
        >
            <img [src]="rdestUrl" class="rdest" />
            {{ 'enum.charType.MAIN' | translate }}
        </button>

        <button
            mat-raised-button
            [color]="isSide ? 'accent' : 'basic'"
            (click)="
                isSide ? (isSide = false) : (isSide = true); searchCharacter()
            "
        >
            <img [src]="rdestUrl" class="rdest--side" />
            {{ 'enum.charType.SIDE' | translate }}
        </button>

        <button
            mat-raised-button
            [color]="isBackground ? 'accent' : 'basic'"
            (click)="
                isBackground ? (isBackground = false) : (isBackground = true);
                searchCharacter()
            "
        >
            {{ 'enum.charType.BACKGROUND' | translate }}
        </button>
    </form>

    <div class="characters">
        <div class="characters__list">
            <a
                *ngFor="let character of filteredChars; index as i"
                class="character"
                [routerLink]="['/char-cards', character.id]"
                routerLinkActive="router-link-active"
                [ngClass]="{ 'character--archived': character.archived }"
            >
                <app-profile-pic
                    [charId]="character.externalId"
                    [profilePic]="character.profilePic"
                ></app-profile-pic>
                <span class="character__name">
                    <span
                        *ngIf="
                            character.characterType === 'SIDE' ||
                            character.characterType === 'MAIN'
                        "
                    >
                        <img
                            [src]="rdestUrl"
                            class="rdest"
                            [ngClass]="{
                                'rdest--side':
                                    character.characterType === 'SIDE'
                            }"
                        />
                    </span>
                    <div class="name">
                        <div class="name__name">{{ character.fullName }}</div>
                        <div class="name__pseudonym">
                            {{ character.pseudonym }}
                        </div>
                    </div>
                </span>
            </a>
        </div>

        <ng-container *ngIf="filteredChars.length === 0">
            {{ 'CHARS_PANEL.NO_CHARACTERS' | translate }}
        </ng-container>
    </div>
</article>
