@import 'variables';

$search-bar-height: 5.5rem;

$gradient1: #420730;
$gradient2: #435548;

.char-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: fixed;

    height: calc(100vh - #{$navbar-height});
    width: 100%;

    background: $chars-list-bg;
}

.character {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0.5rem;

    text-align: center;

    transition: 0.2s;

    height: 9rem;

    &__name {
        display: flex;
        justify-content: center;

        font-size: larger;
        margin-top: 0.5rem;
    }

    &--archived {
        opacity: 0.3;
    }
}

.char-symbol {
    display: block;
    margin: 0;
    padding: 0;

    font-size: 1rem;

    text-shadow: -2px 2px 0px #a929df;
    &--MAIN {
        &::before {
            content: '⭐';
        }
    }
    &--SIDE {
        opacity: 0.5;
        &::before {
            content: '⭐';
        }
    }

    &--BACKGROUND {
        opacity: 0.5;
        filter: grayscale(100%);

        &::before {
            content: '⭐';
        }
    }

    &--PET {
        opacity: 0.5;
        &::before {
            content: '🐾';
        }
    }
}

.search-form {
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: flex-start;

    height: $search-bar-height;
    width: 100%;

    font-size: initial;

    background-color: rgb(27 29 30 / 70%);
    backdrop-filter: blur(3px);
    top: 3rem;

    &__form-field {
        display: flex;
        align-items: center;
    }
}

.characters {
    width: 100%;

    overflow-y: auto;

    margin-top: 5rem;

    &__list {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, 8rem);

        width: 100%;
    }
}

.name {
    display: flex;
    flex-direction: column;

    height: 2rem;

    &__name {
        width: 7.5rem;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__pseudonym {
        width: 120px;

        font-size: smaller;
        color: $accent;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.create-new-character {
    color: $accent;

    left: 1rem;

    margin: 0 1rem;
    margin-top: 1.5rem;

    cursor: pointer;

    transition: 0.3s;

    &:hover {
        color: white;
    }
}

.birthday-cake {
    position: absolute;

    font-size: x-large;

    margin-top: 0.5rem;
}

.char-type-button {
    display: flex;

    height: 18px;
    font-size: 11px;

    margin-top: 0.2rem;

    color: white;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: '[ ';
        }
        &::after {
            content: ' ]';
        }
    }
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;

    margin-left: 1rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;

    height: 81px;

    margin-top: 0.2rem;

    overflow-y: auto;
}

.tag {
    height: 2rem;

    &--disabled {
        opacity: 0.5;
    }
}

.empty-list {
    margin-top: 4rem;
}

.name-symbol-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}
