@import "../../../../../../../global_styles/variables.scss";

$gradient1: #420730;
$gradient2: #435548;

.char-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  position: fixed;

  height: calc(100vh - #{$navbar-height});
  width: 100%;

  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAF0lEQVQYV2NkQAJSN+83PFNXbGCkgSAAqjkUBj+3UZ0AAAAASUVORK5CYII="),
    linear-gradient(to bottom, $gradient1 0%, $gradient1 33%, $gradient2 100%);
  background-blend-mode: multiply;

  overflow-y: scroll;
}

.character {
  display: flex;
  flex-direction: column;

  margin: 0.5rem;
  padding: 1rem;

  text-align: center;

  transition: 0.2s;

  &__profile-pic {
    height: 100px;
    width: 100px;

    border-radius: 50%;

    filter: grayscale(100);

    transition: 0.2s;

    &--empty {
      margin-top: 2.3rem;
      margin-bottom: -2.3rem;
    }
    &:hover {
      transform: rotate(20deg);
    }
  }
}
