$image-cropper-height: 60vh;
$image-cropper-width: 50vw;

:host {
    display: flex;
    position: relative;
    width: 100%;
    max-width: $image-cropper-width;
    max-height: $image-cropper-height;
    overflow: hidden;
    text-align: center;

    > div {
        width: $image-cropper-width;
        position: relative;

        img.source-image {
            max-width: $image-cropper-width;
            max-height: $image-cropper-height;
            transform-origin: center;
        }
    }

    .overlay {
        position: absolute;
        pointer-events: none;
        touch-action: none;
        top: 0;
        left: 0;
    }

    .cropper {
        position: absolute;
        display: flex;
        color: #53535c;
        background: transparent;
        outline: rgba(255, 255, 255, 0.3) solid 50vw;
        outline: var(--cropper-outline-color, rgba(0, 0, 0, 0.6)) solid 50vw;
        touch-action: none;

        &:after {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            border: dashed 1px;
            opacity: 0.75;
            color: inherit;
            z-index: 1;
        }

        .move {
            width: 100%;
            cursor: move;
            border: 1px solid rgba(255, 255, 255, 0.5);
        }

        .resize {
            position: absolute;
            display: inline-block;
            line-height: 6px;
            padding: 8px;
            opacity: 0.85;
            z-index: 1;

            .square {
                display: inline-block;
                background: #53535c;
                width: 6px;
                height: 6px;
                border: 1px solid rgba(255, 255, 255, 0.5);
                box-sizing: content-box;
            }

            &.topleft {
                top: -12px;
                left: -12px;
                cursor: nwse-resize;
            }

            &.top {
                top: -12px;
                left: calc(50% - 12px);
                cursor: ns-resize;
            }

            &.topright {
                top: -12px;
                right: -12px;
                cursor: nesw-resize;
            }

            &.right {
                top: calc(50% - 12px);
                right: -12px;
                cursor: ew-resize;
            }

            &.bottomright {
                bottom: -12px;
                right: -12px;
                cursor: nwse-resize;
            }

            &.bottom {
                bottom: -12px;
                left: calc(50% - 12px);
                cursor: ns-resize;
            }

            &.bottomleft {
                bottom: -12px;
                left: -12px;
                cursor: nesw-resize;
            }

            &.left {
                top: calc(50% - 12px);
                left: -12px;
                cursor: ew-resize;
            }
        }

        .resize-bar {
            position: absolute;
            z-index: 1;

            &.top {
                top: -11px;
                left: 11px;
                width: calc(100% - 22px);
                height: 22px;
                cursor: ns-resize;
            }

            &.right {
                top: 11px;
                right: -11px;
                height: calc(100% - 22px);
                width: 22px;
                cursor: ew-resize;
            }

            &.bottom {
                bottom: -11px;
                left: 11px;
                width: calc(100% - 22px);
                height: 22px;
                cursor: ns-resize;
            }

            &.left {
                top: 11px;
                left: -11px;
                height: calc(100% - 22px);
                width: 22px;
                cursor: ew-resize;
            }
        }
    }

    &.disabled {
        .cropper {
            .resize,
            .resize-bar,
            .move {
                display: none;
            }
        }
    }
}
