<div class="scroller">
    <figure #preferencesChart></figure>
</div>

<ng-container *ngIf="isLinearChartVisible">
    <div class="chosen-char">
        <div class="char-info__profile-pic" *ngIf="chosenChar!.relCharAvatar">
            <img
                [src]="chosenChar!.relCharAvatar | sanitizer"
                class="profile-pic"
            />
        </div>
        <span
            >{{ chosenChar!.fullName }} -
            {{ 'PREFERENCES.HISTORICAL_PREFERENCES' | translate }}</span
        >
    </div>

    <app-historical-preferences-chart
        [preferenceTypes]="preferenceTypes"
        [relatedcharId]="chosenCharId"
    >
    </app-historical-preferences-chart>
</ng-container>
