<div class="scroller">
    <figure #preferencesChart></figure>
</div>

<ng-container *ngIf="isLinearChartVisible && chosenChar">
    <a [routerLink]="['/char-cards', chosenChar.relCharId]" class="chosen-char">
        <div class="char-info__profile-pic" *ngIf="chosenChar.relCharAvatar">
            <img
                [src]="
                    'data:image/' +
                        chosenChar.relCharAvatar!.extension +
                        ';base64, ' +
                        chosenChar.relCharAvatar.image | sanitizer
                "
                class="profile-pic"
            />
        </div>
        <span
            >{{ chosenChar.fullName }} -
            {{ 'PREFERENCES.HISTORICAL_PREFERENCES' | translate }}</span
        >
    </a>

    <app-historical-preferences-chart
        [preferenceTypes]="preferenceTypes"
        [relatedcharId]="chosenCharId"
    >
    </app-historical-preferences-chart>
</ng-container>
