<div class="scroller">
    <figure #preferencesChart></figure>
</div>

<ng-container *ngIf="isLinearChartVisible && chosenChar">
    <a [routerLink]="['/char-cards', chosenChar.id]" class="chosen-char">
        <div class="char-info__profile-pic" *ngIf="chosenChar.profilePic">
            <app-profile-pic
                [charId]="chosenChar.id"
                [profilePic]="chosenChar.profilePic"
                [height]="'50px'"
                [isCircle]="true"
            >
            </app-profile-pic>
        </div>
        <span
            >{{ chosenChar.fullname }} -
            {{ 'PREFERENCES.HISTORICAL_PREFERENCES' | translate }}</span
        >
    </a>

    <app-historical-preferences-chart
        [preferenceTypes]="preferenceTypes"
        [relatedcharId]="chosenCharId"
    >
    </app-historical-preferences-chart>
</ng-container>
