@import 'variables';

.book-item {
    margin-bottom: 0.25rem;
    margin-left: -0.25rem;
}

.square {
    &--MAIN {
        filter: saturate(2) contrast(2) brightness(0.4);
    }
    &--SIDE {
        filter: saturate(1.3) contrast(2);
    }
    &--BACKGROUND {
        filter: saturate(0.5) brightness(1.5) contrast(0.3);
    }
    &--MENTIONED {
        filter: saturate(0.5) brightness(0.5);
    }

    &--NONE {
        filter: saturate(0.5) brightness(0.2);
    }
}

.chapters-title {
    transform: rotate(300deg);
}

.empty {
    fill: transparent;
    stroke-width: 2;
    filter: saturate(0.5) brightness(0.2);
}
