<div class="container" *ngIf="isStarringListComputed">
    <table class="starring-in-table">
        <thead>
            <tr>
                <th></th>
                <th *ngFor="let starringInItem of starringIn">
                    <div
                        class="book-item"
                        [title]="starringInItem.book.name"
                        [routerLink]="['../../pages/chapters']"
                        [queryParams]="{
                            id: starringInItem.book.id
                        }"
                    >
                        <app-book-icon
                            [book]="starringInItem.book"
                            [size]="1.1"
                        ></app-book-icon>
                    </div>
                </th>
            </tr>
        </thead>
        <tr>
            <td class="chapters-title">{{ 'NAVBAR.CHAPTERS' | translate }}</td>
            <td *ngFor="let starringInItem of starringIn" class="item-cell">
                <div
                    *ngFor="let chapter of starringInItem.chapters; index as i"
                >
                    <div
                        [title]="
                            chapter.chapterName + ' - ' + chapter.starringType
                        "
                        *ngIf="chapter.starringType !== null"
                        [class]="'square square--' + chapter.starringType"
                        [routerLink]="['../../pages/chapters/pages']"
                        [queryParams]="{
                            id: starringInItem.book.id,
                            chapterId: chapter.chapterId,
                            color: starringInItem.book?.color
                        }"
                    ></div>
                    <div
                        class="square square--empty"
                        *ngIf="chapter.starringType === null"
                    ></div>
                </div>
            </td>
        </tr>
    </table>
</div>
