<div class="starring__content">
    <!-- <mat-card class="legend">
        <mat-card-header>
            <mat-card-title class="legend">{{
                'SHARED.LEGEND_KEY' | translate
            }}</mat-card-title>
        </mat-card-header>
        <div class="legend__item legend-item">
            <span class="legend-item__symbol legend-item__symbol--main"
                >MAIN</span
            >
            <span class="legend-item__desc">{{
                'CHARACTER_CARD.STARRED_AS_MAIN' | translate
            }}</span>
        </div>
        <div class="legend__item legend-item">
            <span class="legend-item__symbol legend-item__symbol--side"
                >SIDE</span
            >
            <span class="legend-item__desc">{{
                'CHARACTER_CARD.STARRED_AS_SIDE' | translate
            }}</span>
        </div>
        <div class="legend__item legend-item">
            <span class="legend-item__symbol legend-item__symbol--bg">BG</span>
            <span class="legend-item__desc">{{
                'CHARACTER_CARD.STARRED_AS_BG' | translate
            }}</span>
        </div>
        <div class="legend__item legend-item">
            <span class="legend-item__symbol legend-item__symbol--mtn"
                >MTN</span
            >
            <span class="legend-item__desc">{{
                'CHARACTER_CARD.STARRED_AS_MTN' | translate
            }}</span>
        </div>
        <div class="legend__item legend-item">
            <span class="legend-item__symbol legend-item__symbol--no">-</span>
            <span class="legend-item__desc">{{
                'CHARACTER_CARD.NO_STARRED' | translate
            }}</span>
        </div>
    </mat-card> -->
</div>
<div>
    <table class="chapters-table">
        <tr>
            <th *ngFor="let mockItem of mock">
                <div class="book-item" [title]="mockItem.book.name"></div>
                <app-book-icon
                    [book]="mockItem.book"
                    [size]="1"
                ></app-book-icon>
            </th>
        </tr>
        <tr *ngFor="let mockItem of mock">
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
        </tr>
    </table>
</div>
