@import 'variables';

.edit-pages {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.page-card {
    width: fit-content;

    margin: 1rem;
    padding: 1rem;

    background: $card-bg;
    border-radius: 3px;

    &__options {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0.25rem;
    }
}

.image {
    object-fit: scale-down;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 3px;

    width: 8rem;
    height: 10rem;

    background: black;
}

.new-pages {
    display: flex;
    align-items: center;

    margin-left: 2rem;
    margin-top: 2rem;

    &__back-icon {
        margin-right: 2rem;
    }
}

.number {
    font-size: 0.7rem;
    font-weight: 700;
}
