<div class="new-pages">
    <div *appIfLoggedUser class="file-options">
        <div class="upload-file">
            <mat-icon (click)="fileInput.click()" class="file-icon">
                attach_file</mat-icon
            >

            <span
                [translate]="'SHARED.FILE_INPUT'"
                [translateParams]="{ num: filesListNumber }"
            >
            </span>
        </div>
        <input
            #fileInput
            type="file"
            (change)="onFileInput($event.target.files)"
            multiple
            style="display: none"
        />

        <mat-icon
            (click)="addNewPages()"
            class="file-icon file-icon--save"
            [ngClass]="{
                disabled: !filesListNumber
            }"
            >save_alt</mat-icon
        >
    </div>
</div>

<div
    class="edit-pages"
    *ngIf="pagesNumber.length > 0"
    cdkDropListOrientation="horizontal"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
>
    <mat-card
        *ngFor="let pageId of pagesNumber; index as i"
        class="page-card"
        [ngStyle]="{ background: bookColor, color: fontColor }"
        cdkDrag
    >
        <mat-card-header>
            <mat-card-title>
                <mat-icon class="option-icon" cdkDragHandle
                    >drag_indicator</mat-icon
                >
                <span style="font-size: xx-large"> {{ +i + 1 }}. </span>
                <div class="options" *appIfLoggedUser>
                    <mat-icon
                        class="close-icon"
                        (click)="insertDeleteInfo()"
                        (dblclick)="deletePage(pageId)"
                        >close</mat-icon
                    >
                </div>
            </mat-card-title>
        </mat-card-header>
        <img src="{{ pageURL }}/{{ chapterId }}/{{ i }}" class="image" />
    </mat-card>
</div>

<div class="edit-pages" *ngIf="pagesNumber.length === 0">
    {{ 'CHAPTERS.NO_PAGES_MSG' | translate }}
</div>
