<article class="admin-panel">
  <ul class="admin-panel__options">
    <li class="option" [routerLink]="['new-character']">
      <span class="option__icon">
        <app-icon [icon]="'new-character'" [color]="'white'" [size]="3"></app-icon>
      </span>

      <span class="option__desc">dodaj postać główną</span>

    </li>
    <li class="option" [routerLink]="['edit-character']">
      <span class="option__icon">
        <app-icon [icon]="'edit-character'" [color]="'white'" [size]="3"></app-icon>
      </span>

      <span class="option__desc">edytuj postać główną</span>

    </li>
    <li class="option" [routerLink]="['delete-character']">
      <span class="option__icon">
        <app-icon [icon]="'delete-character'" [color]="'white'" [size]="3"></app-icon>
      </span>
      <span class="option__desc"> archiwizuj postać główną</span>

    </li>


    <li class="option" [routerLink]="['new-chars']">
      <span class="option__icon">
        <app-icon [icon]="'new-chars'" [color]="'white'" [size]="4"></app-icon>
      </span>
      <span class="option__desc"> dodaj nową postać poboczną</span>


    </li>
    <li class="option" [routerLink]="['edit-chars']">
      <span class="option__icon">
        <app-icon [icon]="'edit-chars'" [color]="'white'" [size]="4"></app-icon>
      </span>

      <span class="option__desc">edytuj postać poboczną</span>

    </li>
    <li class="option" [routerLink]="['delete-chars']">
      <span class="option__icon">
        <app-icon [icon]="'delete-chars'" [color]="'white'" [size]="4"></app-icon>
      </span>

      <span class="option__desc"> archiwizuj postać poboczną</span>

    </li>
  </ul>
</article>
