@import "../../../../../global_styles/variables.scss";

.admin-panel__options {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;

  padding-top: 2rem;
  outline: none;

  transition: 0.2s;

  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  &__desc {
    // margin: 2rem 0 -2rem -2rem;
    padding: 1.6rem 0;
    margin-left: 1rem;
  }
}
