@import "../../../../../global_styles/variables.scss";

.admin-panel {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100vh - #{$navbar-height});

  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQoU2NkYGAwZmBgOMuAACA+CKCIMSIpADGRNaEYgKwQ3WQUjTCF6CYhWw2WAynEpgjmIpg7jUlSiM0TWK2GWUOUZ7ApxggeogIcABHJFtftKVfJAAAAAElFTkSuQmCC"),
    linear-gradient(to bottom, #4d5963 0%, #4d4e50 33%, #322c38 100%);
}

.admin-panel__options {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;

  padding-top: 2rem;
  outline: none;

  transition: 0.2s;

  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  &__desc {
    // margin: 2rem 0 -2rem -2rem;
    padding: 1.6rem 0;
    margin-left: 1rem;
  }
}
